<ion-header>
  <ib-questionario-nav-bar *ngIf="componentesConfigurado" [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>
<ion-content padding>
  <ib-grid-questionario #grid [hidden]="!componentesConfigurado" [configuracaoQuestao]="configuracaoGrid"></ib-grid-questionario>
</ion-content>

<ion-footer no-shadow>
  <ib-questionario-footer-bar *ngIf="componentesConfigurado" [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>