$font-path: '../assets/fonts';

@font-face {
  font-family: 'rosieAlimentos';
  src: url('#{$font-path}/alimentos/rosieAlimentos.eot');
  src: url('#{$font-path}/alimentos/rosieAlimentos.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/alimentos/rosieAlimentos.woff') format('woff'),
       url('#{$font-path}/alimentos/rosieAlimentos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='rosie-alimentos-']::before,
[class*=' rosie-alimentos-']::before,
[class^='rosie-alimentos-']::after,
[class*=' rosie-alimentos-']::after {
  display: inline-block;
  font-family: 'rosieAlimentos';
  font-style: normal;
  font-size: 2.6rem;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.rosie-alimentos-cacto::before {
  content: '\f100';
}

.rosie-alimentos-lanches::before {
  content: '\f101';
}

.rosie-alimentos-jantar::before {
  content: '\f102';
}

.rosie-alimentos-almoco::before {
  content: '\f103';
}

.rosie-alimentos-cafe::before {
  content: '\f104';
}
