ib-page-perfil {
  .header-perfil {
    background-color: $verde-claro;
    padding-bottom: 41px;
    padding-top: 16px;
  }

  .circle {
    border-radius: 50%;
  }

  .wrapper-person {
    width: 12rem;
    height: 12rem;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    ion-icon {
      font-size: 8rem;
   }
  }

  .wrapper-camera {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: 7rem;
    left: 7rem;
    background-color: $cinza-c6;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 4rem;
    }
  }
}
