<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PERFIL.TITULO' | translate | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="header-perfil">
    <ion-col col-12>
      <div class="circle wrapper-person">
        <img *ngIf="temAvatar" [@enterAnimation]="temAvatar" (@enterAnimation.done)="callbackEnterAnimationDone();" class="circle"
          [src]="imgSrcAvatar" crossorigin="anonymous">
        <ion-icon *ngIf="!temAvatar && imgSrcAvatar === null" color="cinza-c6" name="person"></ion-icon>
        <div class="circle wrapper-camera">
          <ion-icon class="camera-icon" color="branco-gelo" name="camera" (click)="onClickOpenChooser()"></ion-icon>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row padding>
    <ion-col col-12>
      <button *ngIf="!vinculandoComFacebook && usuario.facebook" ion-button block color="facebook" (click)="onSincronizarOuAtualizarFacebook()">{{ 'PERFIL.BTN_FB_ATUALIZAR' | translate }}</button>
      <button *ngIf="!vinculandoComFacebook && !usuario.facebook" ion-button block color="facebook" (click)="onSincronizarOuAtualizarFacebook()">{{ 'PERFIL.BTN_FB_VINCULAR' | translate }}</button>
      <button *ngIf="vinculandoComFacebook" ion-button block color="facebook">
        <ion-spinner name="dots" color="branco-gelo"></ion-spinner>{{ 'PERFIL.FB_STATUS' | translate | capitalize }}</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-list>
        <form [formGroup]="perfilForm" (submit)="onSubmitAtualizarPerfil($event)" novalidate>
          <ion-item>
            <ion-label stacked>{{ 'PERFIL.FORMULARIO.NOME.TITULO' | translate | capitalize }}</ion-label>
            <ion-input placeholder="{{ 'PERFIL.FORMULARIO.NOME.PLACEHOLDER' | translate | capitalize }}" [ngModel]="usuario.first_name | capitalizeAll"
              (ngModelChange)="usuario.first_name=$event" formControlName="firstName" name="firstName" type="text" spellcheck="false"
              autocapitalize="off"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{ 'PERFIL.FORMULARIO.SOBRENOME.TITULO' | translate | capitalize }}</ion-label>
            <ion-input placeholder="{{ 'PERFIL.FORMULARIO.SOBRENOME.PLACEHOLDER' | translate | capitalize }}" [ngModel]="usuario.last_name | capitalizeAll"
              (ngModelChange)="usuario.last_name=$event" formControlName="lastName" name="lastName" type="text" spellcheck="false"
              autocapitalize="off"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{ 'PERFIL.FORMULARIO.EMAIL.TITULO' | translate | capitalize }}</ion-label>
            <ion-input placeholder="{{ 'PERFIL.FORMULARIO.EMAIL.PLACEHOLDER' | translate | capitalize }}" [(ngModel)]="usuario.email"
              formControlName="email" name="email" type="email" spellcheck="false" autocapitalize="off" disabled></ion-input>
          </ion-item>
          <ion-item padding-vertical>
            <ion-label stacked>{{ 'PERFIL.FORMULARIO.DATA_NASC.TITULO' | translate | capitalize }}</ion-label>
            <ion-datetime placeholder="{{ 'PERFIL.FORMULARIO.DATA_NASC.PLACEHOLDER' | translate | capitalize }}" displayFormat="DD/MM/YYYY"
              pickerFormat="DD/MM/YYYY" cancelText="{{ 'PERFIL.FORMULARIO.DATA_NASC.BTN_CANCEL' | translate | capitalize }}"
              doneText="{{ 'PERFIL.FORMULARIO.DATA_NASC.BTN_OK' | translate | capitalize }}" min="{{minDate}}" [(ngModel)]="usuario.birthday"
              [ngModelOptions]="{standalone: true}"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{ 'PERFIL.FORMULARIO.GENERO.TITULO' | translate | capitalize }}</ion-label>
            <ion-select multiple="false" [(ngModel)]="usuario.genero" [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor="let opcao of opcoesGenero" [value]="opcao.value">{{ opcao.descricao }}</ion-option>
            </ion-select>
          </ion-item>

          <div padding>
            <button *ngIf="!atualizando" ion-button block margin-top color="primary">{{ 'PERFIL.FORMULARIO.BTN_STATUS' | translate | capitalize }}</button>
            <button *ngIf="atualizando" ion-button block margin-top color="primary">
              <ion-spinner name="dots" color="branco-gelo"></ion-spinner>{{ 'PERFIL.FORMULARIO.STATUS_ATUALIZAR' | translate | capitalize }}
            </button>
          </div>
        </form>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>