<ion-header>
  <ib-questionario-nav-bar *ngIf="componentesConfigurado" [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>
<ion-content padding>
  <!--<p *ngIf="bindModoIsGPS">Adicione um endereço e descubra causadores ambientais.</p>-->
  <ion-scroll scrollX="false" scrollY="true">
    <ib-grid-questionario #grid [hidden]="!componentesConfigurado" [configuracaoQuestao]="configuracaoGrid"></ib-grid-questionario>
  </ion-scroll>
  <ion-fab bottom right>
    <button ion-fab color="verde-escuro" (click)="onClickAtivarModoGPS()">
        <ion-icon *ngIf="!bindModoIsGPS" large color="branco-gelo" name="pin"></ion-icon>
        <ion-icon *ngIf="bindModoIsGPS" large color="branco-gelo" name="pin"></ion-icon>
      </button>
  </ion-fab>
</ion-content>

<ion-footer no-shadow>
  <ib-questionario-footer-bar *ngIf="componentesConfigurado" [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>