<ion-grid no-padding padding-top>
  <ion-row *ngFor="let row of bindOpcoesDoGrid;let indexRow = index;">
      <ion-col *ngFor="let value of row;let indexColuna = index;" col-4>
          <div class="item-wrapper" (click)="onClickAcoesGridQuestionario(value)">
              <div class="item-grid-wrapper" [style.color]="value.getCor()">
                  <i class="{{ value.getIcone() }}"></i>
              </div>
              <div *ngIf="bindIsModoRemover && value.getId() !== 'id-adicionar-opcao' && value.getId() !== 'id-remover-opcao' && value.getTipo() !== 0" class="ux-item-icon-bottom-position">
                  <div>
                      <i ion-text color="laranja" class="mm-opcao-excluir"></i>
                  </div>
              </div>
              <div *ngIf="value.getQuantidade() && value.getQuantidade() > 0" text-center class="item-quantidade-wrapper">
                  <strong margin-top>{{ value.getQuantidade() }}</strong>
              </div>
              <div *ngIf="!bindIsModoRemover && configuracaoQuestao.getIdentificadorGrid() === tipoQuestaoMedicamento && value.getId() !== 'id-adicionar-opcao' && value.getId() !== 'id-remover-opcao'" text-center class="ux-item-icon-bottom-position">
                  <div>
                      <i ion-text color="verde-escuro" class="mm-opcao-adicionar"></i>
                  </div>
              </div>
              <div *ngIf="value.getCorIconeEficiencia()" text-center class="ux-item-icon-bottom-position">
                  <div>
                      <span [ngClass]="value.getIconeEficiencia()" [style.color]="value.getCorIconeEficiencia()"></span>
                  </div>
              </div>
              <div *ngIf="!bindIsModoRemover && configuracaoQuestao.getIdentificadorGrid() === tipoQuestaoLocal && value.getId() !== 'id-adicionar-opcao' && value.getId() !== 'id-remover-opcao'" text-center class="ux-item-icon-bottom-position">
                  <div>
                      <ion-icon *ngIf="(value.isLocalFixo() === true || value.getValorGPS() !== undefined) && !bindIsModoGPS" name="pin" color="verde-claro"></ion-icon>
                      <ion-icon *ngIf="bindIsModoGPS" name="pin" color="verde-escuro"></ion-icon>
                      <ion-icon *ngIf="(value.isLocalFixo() === false && value.getValorGPS() === undefined) && !bindIsModoGPS" name="pin" color="cinza-c6"></ion-icon>
                  </div>
              </div>
          </div>

          <div margin-top text-center>{{ value.getNome() | capitalize }}</div>

      </ion-col>
  </ion-row>
</ion-grid>