ib-grid-questionario {
  $grid-largura: 8rem;
  $grid-altura: 9rem;

  .item-wrapper {
    text-align: center;
    position: relative;
    width: $grid-largura;
    height: $grid-altura;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .item-grid-wrapper {
    position: absolute;
    z-index: 1;
    display: block;
  }

  .item-grid-wrapper i::before {
    font-size: $grid-largura;
  }

  .item-quantidade-wrapper {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-grid-wrapper .mm-opcao-adicionar::before,
  .item-grid-wrapper .mm-opcao-excluir::before {
    font-size: calc(#{$grid-largura} - 2rem);
  }

  .ux-item-icon-bottom-position {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .ux-item-icon-bottom-position div {
    background: #fff;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
