<button *ngIf="configurado" ion-item no-lines no-padding detail-none text-wrap [class.sem-dados]="item.isComplete() === false"
  (click)="onClickIrParaQuestao();">
<ion-row no-padding item-center>
    <ion-col item-left text-center col-4 class="col-icone">
        <i [ngClass]="item.getIcone()"></i>
        <p>{{ item.getTitulo() | translate | capitalize }}</p>
    </ion-col>
    <ion-col item-center text-left no-padding padding-left class="col-content">
        <ion-row no-padding class="col-titulo">
            <ion-col col-6>{{ 'SUMARIO.ITEM.DURACAO.LABEL_INICIO' | translate }}</ion-col>
            <ion-col col-6 text-center>{{ 'SUMARIO.ITEM.DURACAO.LABEL_FIM' | translate }}</ion-col>
        </ion-row>

        <ion-row no-padding>
            <ion-col col-6>{{ item.getTempoInicial() }}</ion-col>
            <ion-col col-6 *ngIf="item.isComplete() === true">{{ item.getTempoFinal() }}</ion-col>
            <ion-col col-6 text-center *ngIf="item.isComplete() === false">
                <ion-icon name="help-circle" color="laranja"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row no-padding>
            <ion-col [attr.col-6]="item.isComplete() ? '' : null ">{{ item.getDataInicial() }}</ion-col>
            <ion-col col-6 *ngIf="item.isComplete() === true">{{ item.getDataFinal() }}</ion-col>
        </ion-row>
    </ion-col>
    <ion-col item-right text-center col-2 class="col-arrow">
        <ion-icon name="return-right"></ion-icon>
    </ion-col>
</ion-row>
</button>