ib-page-entrar {
  .back-button-icon,
  .toolbar-title {
    color: $verde-claro;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  .error-messages ion-icon {
    font-size: 2.6rem;
    vertical-align: baseline;
  }
}
