<ion-header no-border>
  <ion-navbar swipeBackEnabled="false" transparent>
    <ion-title [@fadeInOut]="formState">
      <span *ngIf="tipoUsuario === NOVO_USUARIO">Cadastro</span>
      <span *ngIf="tipoUsuario === USUARIO_VETERANO">Login</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding text-center>
    <img src="assets/img/logo.png" class="slide-image" />
  </div>

  <div *ngIf="tipoUsuario === 0">
    <div padding>
      <button ion-button block (click)="onClickUsuarioAcao(NOVO_USUARIO)" color="verde-claro">Sou novo por aqui</button>
    </div>
    <div padding-horizontal padding-bottom>
      <button ion-button outline block (click)="onClickUsuarioAcao(USUARIO_VETERANO)" color="verde-claro">Já tenho conta</button>
    </div>
  </div>

  <div *ngIf="tipoDaMensagem != SEM_MENSAGENS" class="error-messages" padding-horizontal>
    <div *ngIf="tipoDaMensagem === MSG_PROBLEMA_INTERNET">
      <ion-icon name='wifi' color='laranja'></ion-icon> Verifique sua conexão com a internet</div>
    <div *ngIf="tipoDaMensagem === MSG_DADOS_USUARIO_INVALIDO">
      <ion-icon name='contact' color='laranja'></ion-icon> E-mail ou senha inválidos</div>
    <div *ngIf="tipoDaMensagem === MSG_PROBLEMA_DESCONHECIDO">
      <ion-icon name='alert' color='laranja'></ion-icon> Falha no login. Tente novamente mais tarde</div>
    <div *ngIf="tipoDaMensagem === MSG_EMAIL_EM_USO">
      <ion-icon name='alert' color='laranja'></ion-icon> Este e-mail já está em uso. Que tal fazer o login?</div>
  </div>

  <ion-row>
    <ion-col col-12>
        <button ion-button outline block (click)="logout()" color="verde-claro">LOGOUT</button>
      <button ion-button outline block (click)="smsLogin()" color="verde-claro">SMS LOGIN</button>
      <button ion-button outline block (click)="emailLogin()" color="verde-claro">EMAIL LOGIN</button>
    </ion-col>
  </ion-row>

  <ion-row class="account-form" [@fadeInOut]="formState">
    <ion-col>
      <ion-list>
        <form [formGroup]="entrarForm" (submit)="onSubmitEntrarNoApp($event)" novalidate>
          <ion-item [class.has-error]="!entrarForm.get('email').valid && (entrarForm.get('email').dirty || submitted)">
            <ion-label floating>E-mail</ion-label>
            <ion-input #email formControlName="email" name="email" type="email" spellcheck="false" autocapitalize="off"></ion-input>
            <ion-icon item-right *ngIf="!entrarForm.get('email').errors && entrarForm.get('email').dirty && request" name="checkmark-circle"
              color="verde-claro"></ion-icon>
            <ion-icon item-right *ngIf="entrarForm.get('email').errors && (entrarForm.get('email').dirty || submitted) || !request" name="alert"
              color="danger"></ion-icon>
          </ion-item>
          <p *ngIf="(!entrarForm.get('email').valid && entrarForm.get('email').hasError('invalidEmailAddress')) && (entrarForm.get('email').dirty || submitted)"
            color="danger" padding-left>Informe um e-mail no formato: <strong>enxaquecaNuncaMais@email.com</strong></p>

          <ion-item [class.has-error]="!entrarForm.get('password').valid && (entrarForm.get('password').dirty || submitted)">
            <ion-label floating>Senha</ion-label>
            <ion-input #password formControlName="password" name="password" type="text" spellcheck="false" autocapitalize="off"></ion-input>
            <ion-icon item-right *ngIf="!entrarForm.get('password').errors && entrarForm.get('password').dirty && request" name="checkmark-circle"
              color="verde-claro"></ion-icon>
            <ion-icon item-right *ngIf="entrarForm.get('password').errors && (entrarForm.get('password').dirty || submitted) || !request"
              name="alert" color="danger"></ion-icon>
          </ion-item>
          <p *ngIf="!entrarForm.get('password').valid && (entrarForm.get('password').dirty || submitted)" color="danger" padding-left>Informe uma senha com mínimo de 6 caracteres</p>

          <div padding>
            <button ion-button block margin-top color="primary">Continuar</button>
          </div>
        </form>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>