<ion-header>
  <ion-navbar color="branco">
    <ion-title>Rosie</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onClickDiario()">
        <ion-icon name="paper" color="verde-claro"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="heart" color="laranja"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-lines [virtualScroll]="messages">

    <ion-item text-wrap *virtualItem="let msg">
      <ion-row item-start class="rosie-avatar" *ngIf="msg.from === 'rosie'" align-items-center>
        <ion-col align-self-baseline no-padding text-center>
          <i ion-text color="cinza-c6" class="rosie-sono-muito-boa"></i>
        </ion-col>
      </ion-row>

      <ion-row class="chatbox {{ msg.from }}" align-items-center>
        <ion-spinner *ngIf="!msg?.message" name="dots"></ion-spinner>
        <p *ngIf="msg?.message" [@enterAnimation]>{{ msg?.message }}</p>
      </ion-row>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-toolbar no-padding>
    <ion-item *ngFor="let opcao of opcoesPaciente" no-lines no-details text-wrap>
      <div class="opcao" (tap)="onTapSendPatientMessage(opcao)">
        <ion-row class="chatbox paciente" no-margin align-items-center>
          <p>{{ opcao.message }}</p>
        </ion-row>
      </div>
    </ion-item>

    <ion-row center class="footer-menu">
      <ion-col align-self-center col-10>
        <p>Inicie um novo chat</p>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only (click)="onClickOpenChooser()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>