ib-page-chat {
  $size-rosie-wrapper: 2.6rem;
  $size-rosie: $size-rosie-wrapper / 1.25;

  .content-md,
  .content-ios,
  .content-wp {
    // background: $branco;
    background: linear-gradient($branco, $verde-claro);
  }

  .toolbar-background-md {
    background: transparent;
  }

  .footer-menu {
    background-color: $branco;
  }

  .item-md {
    background-color: transparent;
  }

  .item-md .rosie-avatar {
    margin: 0 0.5rem 0 0;
  }

  .opcao {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .opcao .chatbox {
    margin: 0;
  }

  .rosie-avatar ion-col {
    margin: 0 auto;
    border-radius: 50%;

    width: $size-rosie-wrapper;
    height: $size-rosie-wrapper;

    background: $branco;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .rosie-avatar ion-col i {
    display: flex;
  }

  .rosie-avatar ion-col i::before {
    font-size: $size-rosie;
  }

  .chatbox {
    min-height: 5.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    border-style: solid;
    border-width: 0.1rem;

    align-items: center;
    display: flex;
  }

  .rosie {
    float: left;
    background-color: $branco;
    margin: 0 45px 8px 0;
    border-color: $cinza-c6;
  }

  .rosie::before {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 10px;
    max-width: 300px;
    background: $preto;
    box-shadow: 0 15px 10px $preto;
    transform: rotate(-3deg);
  }

  .rosie p {
    transition: all 2s ease;
    color: $preto;
  }

  .paciente {
    float: right;
    background-color: $verde-claro;
    margin: 0 0 8px 45px;
    border-color: #207964;
  }

  .paciente p {
    color: $branco;
  }

  .paciente::after {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 10px;
    max-width: 300px;
    background: $preto;
    box-shadow: 0 15px 10px $preto;
    transform: rotate(3deg);
  }
}
