ib-page-medicamento {
  .primeiro-cadastro .mm-medicamento::before {
    color: $cinza-c6;
    font-size: 7rem;
  }

  .primeiro-cadastro .mm-opcao-adicionar::before {
    color: $verde-escuro;
    font-size: 1.6rem;
  }
}
