<ion-header>
  <ib-questionario-nav-bar *ngIf="componentesConfigurado" [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>

<ion-content padding>
  <ib-grid-questionario #grid [hidden]="!componentesConfigurado" [configuracaoQuestao]="configuracaoGrid"></ib-grid-questionario>
  <div padding *ngIf="primeiroCadastro" class="primeiro-cadastro">
    <ion-row>
      <ion-col text-center>
        <i class="mm-medicamento"></i>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <h4>Adicione seu primeiro medicamento</h4>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer no-shadow>
  <ib-questionario-footer-bar *ngIf="componentesConfigurado" [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>