ib-page-duracao-dor {
  .divider {
    border-bottom: 1px solid #279379;
    padding-bottom: 5px;
  }

  .item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .item-wrapper i::before {
    font-size: 5.6rem;
  }

  .header ion-datetime {
    padding: 0;
  }

  .relative {
    position: relative;
  }

  .font-size {
    font-size: 1.6rem;
  }
}
