<ion-header>
	<ib-questionario-nav-bar [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>

<ion-content>
	<div *ngFor="let header of itens; let index=index; let isLast=last;">
		<ion-row padding-top class="divider header">
			<ion-col col-4>
				<div padding-left>{{ header.titulo | capitalize }}</div>
			</ion-col>
			<ion-col col-8>
				<div [hidden]="true" class="relative font-size">
					<ion-datetime #datePicker displayFormat="DD DDD, MMMM" pickerFormat="DD/MM/YYYY" min="{{minDate}}" cancelText="Cancelar" doneText="Ok"
						[(ngModel)]="header.model" dayShortNames="{{diasSemanaShort}}" monthNames="{{nomeMes}}" (ionChange)="onChangeHandler(index)"></ion-datetime>
				</div>
				<div [hidden]="true" class="relative font-size">
					<ion-datetime #timePicker displayFormat="HH:mm" pickerFormat="HH:mm" cancelText="Cancelar" doneText="Ok" (ionChange)="onChangeHandler(index)"
						[(ngModel)]="header.model"></ion-datetime>
				</div>
				<div [hidden]="header.emProgresso" class="font-size">
					{{ header.descricao }}
				</div>
				<div [hidden]="!header.emProgresso" class="font-size">
					A definir
				</div>
			</ion-col>
		</ion-row>
		<div [class.divider]="!isLast">
			<ion-row padding-top text-center>
				<ion-col *ngFor="let opcao of header.opcoes">
					<ion-row>
						<ion-col>
							<a class="item-wrapper" ion-text (click)="onClickHandlerOpcoes(index, opcao)" [color]="opcao.cor">
								<i [ngClass]="opcao.icone"></i>
							</a>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>{{ opcao.descricao | capitalize }}</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>

<ion-footer no-shadow>
	<ib-questionario-footer-bar [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>