$font-path: '../assets/fonts';

@font-face {
  font-family: 'open_sansregular';
  src: url('#{$font-path}/openSans/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
