<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'REGISTRO_SONO.TITULO' | translate | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item padding-top>
    <ion-label>{{ 'REGISTRO_SONO.LABEL.FUI_DORMIR' | translate | capitalize }}</ion-label>
    <ion-datetime [(ngModel)]="diario.sono.inicio" displayFormat="DD MMM, HH:mm a" cancelText="Cancelar" doneText="Ok" monthNames="{{ nomeMes }}"
      min="{{ minDate }}" max="{{ maxDate }}" (ionChange)="onChangeTempoSono()"></ion-datetime>
  </ion-item>
  <ion-item padding-bottom margin-bottom no-lines>
    <ion-label>{{ 'REGISTRO_SONO.LABEL.ACORDEI' | translate | capitalize }}</ion-label>
    <ion-datetime [(ngModel)]="diario.sono.fim" displayFormat="DD MMM, HH:mm a" cancelText="Cancelar" doneText="Ok" monthNames="{{ nomeMes }}"
      min="{{ minDate }}" max="{{ maxDate }}" (ionChange)="onChangeTempoSono()"></ion-datetime>
  </ion-item>

  <ion-row padding-bottom>
    <ion-col col-12 text-center>{{ 'REGISTRO_SONO.LABEL.CLASSIFICAR_SONO' | translate | capitalize }}:
    </ion-col>
  </ion-row>

  <div class="container-circle-menu">
    <nav class="menu">
      <div class="menu-toggler" id="menu-toggler"></div>
      <ul>
        <li *ngFor="let item of items" class="menu-item" (click)="onClickAddQualidadeSubjetivaSono(item)">
          <a class="bg-{{ item.icone }}">
            <ion-row text-center>
              <ion-col no-padding align-self-center col-12>
                <i class="{{ item.icone }}"></i>
              </ion-col>
            </ion-row>
          </a>
        </li>
      </ul>
    </nav>

    <ion-row class="item-indicador bg-{{ itemAtual.icone }}" text-center no-padding [@scale]="animationState" (@scale.done)="callbackAnimationScaleDone()">
      <ion-col align-self-center>
        <i class="{{ itemAtual.icone }}"></i>
      </ion-col>
    </ion-row>

    <div class="label-sono" text-center padding-horizontal>
      <span class="branco-gelo">{{ diario.sono.qualidadeSubjetiva | translate | capitalize }}</span>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button block ion-button color="laranja" outline (click)="onClickCancelar()">{{ 'REGISTRO_SONO.BTN_CANCELAR' | translate }}</button>
    </ion-col>
    <ion-col col-6>
      <button block ion-button color="verde-claro" (click)="onClickRegistrar()">{{ 'REGISTRO_SONO.BTN_REGISTRAR' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>