ib-page-registro-sono {
  $toggler-size: 3.5rem;
  $toggler-color: $branco-gelo;
  $toggler-transition: transform 0.5s, top 0.5s;

  $item-count: 6;
  $item-size: $toggler-size * 2;
  $item-color: $branco-gelo;
  $item-transition: 0.5s;
  $item-centro-size: $item-size * 1.8;
  $item-center-position-top: $toggler-size + $item-size;
  $label-font-size: 1.8rem;
  $label-position-top: $item-center-position-top + $item-centro-size + ($label-font-size * 3);

  $espaco-entre-elementos:  ($toggler-size * 2) + 0.5rem;

  $cor-qualidade-muito-boa: #5ed4b9;
  $cor-qualidade-boa: #66f;
  $cor-qualidade-muito-ruim: #f66;
  $cor-qualidade-ruim: #ffa366;

  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  .container-circle-menu {
    position: relative;
  }

  @mixin size ($width, $height: $width) {
    width: $width;
    height: $height;
  }

  @mixin absolute-center {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  @mixin line {
    @include size($toggler-size, $toggler-size / 8);
    display: block;
  }

  .menu {
    padding-top: $espaco-entre-elementos;
  }

  .menu ul {
    position: relative;
    min-height: 12rem;
    margin: 0;
  }

  .menu-toggler {
    @include absolute-center;
    @include size($toggler-size);
    opacity: 0;
    cursor: pointer;
  }

  .menu-toggler ~ ul {
    .menu-item {
      opacity: 1;
    }

    @for $i from 0 through $item-count - 1 {
      .menu-item:nth-child(#{$i + 1}) {
        transform: rotate(360deg / $item-count * $i) translateX(-$item-size - 4.5rem);
      }
    }

  }

  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) a,
    .menu-item:nth-child(#{$i + 1}) p {
      transform: rotate(-360deg / $item-count * $i);
    }
  }

  .menu-item {
    @include absolute-center;
    @include size($item-size);
    opacity: 0;
    transition: $item-transition;
  }

  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: $item-size;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    pointer-events: none;
    transition: 0.2s;
    color: $branco-gelo;
  }

  .menu-item i::before {
    font-size: 6rem;
    color: $branco;
  }

  .bg-rosie-sono-muito-boa {
    background-color: $cor-qualidade-muito-boa;
  }

  .bg-rosie-sono-boa {
    background-color: $cor-qualidade-boa;
  }

  .bg-rosie-sono-ruim {
    background-color: $cor-qualidade-ruim;
  }

  .bg-rosie-sono-muito-ruim {
    background-color: $cor-qualidade-muito-ruim;
  }

  .item-indicador {

    @include absolute-center;
    @include size($item-centro-size);

    top: $item-center-position-top;
    border: 2px solid $branco-gelo;
    border-radius: 50%;
    display: flex;
  }

  .item-indicador i::before {
    font-size: 9rem;
    color: $branco;
  }

  .posicionamento-medicamento {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .label-sono {
    @include absolute-center;
    @include size(100%, $label-font-size * 2);
    top: $label-position-top;
    font-size: $label-font-size;
  }
}
