<ion-navbar [ngClass]="{'bg-toolbar-modo-remover': isModoRemover(), 'bg-toolbar-modo-normal': isModoNormal(), 'bg-toolbar-modo-gps': isModoGPS(), 'bg-toolbar-modo-edicao': isModoEdicao()}" class="nav-bar-questionario">
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
</button>
  <ion-title *ngIf="isModoRemover()">{{ configuracaoNavBar.getTextoModoRemover() | translate | capitalize }}</ion-title>
  <ion-title *ngIf="isModoEdicao()">{{ configuracaoNavBar.getTextoModoEdicao() | translate | capitalize }}</ion-title>
  <ion-title *ngIf="isModoNormal()">{{ configuracaoNavBar.getTextoInicial() | translate | capitalize }}</ion-title>
  <ion-title *ngIf="isModoGPS()">Toque no local que deseja adicionar um endereço:</ion-title>

  <ion-buttons end>
      <button ion-button icon-only (click)="onClickHelp()">
        <ion-icon ios="ios-help-circle-outline" md="md-help-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>