ib-questionario-nav-bar {
  .back-button {
    display: flex;
  }

  .toolbar-background {
    transition: all 0.4s ease-in 0s;
    animation: 0.5s ease 0s alternate none infinite running point-down;
  }

  .bg-toolbar-modo-remover .toolbar-background {
    background-color: $laranja;
  }

  .bg-toolbar-modo-normal .toolbar-background {
    background-color: $verde-claro;
  }

  .bg-toolbar-modo-gps .toolbar-background {
    background-color: $verde-escuro;
  }

  .bg-toolbar-modo-edicao .toolbar-background {
    background-color: $crise-media;
  }
}
