ib-page-diario {
  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  ion-card .rosie-sono-muito-boa::before,
  ion-card .rosie-estado-vazio-sono::before,
  ion-card .rosie-estado-vazio-exercicio::before,
  ion-card .rosie-estado-vazio-fome::before {
    font-size: 8rem;
    color: $verde-claro;
  }

  .notification-melhoria ion-icon {
    position: relative;
  }

  .notification-melhoria ion-badge {
    position: absolute;
    bottom: -100%;
    left: -40%;
  }

  .menu-calendario {
    background-color: $branco;
  }

  .menu-calendario ion-icon {
    font-size: 1.8rem;
  }

  .menu-calendario [name="calendar"] {
    font-size: 1.6rem;
  }

  .menu-calendario .dia-atual {
    font-size: 1.2rem;
    text-transform: none;
  }

  ion-footer {
    background-color: $branco;
  }

  .card-footer {
    border-top: 1px solid $cinza-c6;
  }

  .card-footer button .button-inner {
    justify-content: flex-start;
    align-items: center;
  }

  .list-ios > .item-block:last-child {
    border: 0;
  }

  ion-card {
    direction: ltr;
  }

  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }

  .number-circle {
    margin: 0 auto;
    border-radius: 50%;

    width: 4.6rem;
    height: 4.6rem;
    padding: 0.8rem;

    background: $laranja;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .number-circle h1 {
    color: $branco;
  }

  .fab-modal-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
    position: absolute;
    z-index: 998;
    opacity: 0.6;
  }

  ion-fab [side="left"],
  ion-fab [side="top"],
  ion-fab [side="bottom"] {
    flex-direction: column;
  }

  ion-fab {
    bottom: 30px;
  }

  ion-fab strong {
    color: $branco;
  }
}
