<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'DIARIO.TITULO' | translate | capitalize }}</ion-title>

    <ion-buttons end>
      <button class="notification-melhoria" ion-button icon-only (click)="onClickRelatorioMelhoria()">
        <ion-icon name="clipboard">
          <ion-badge color="laranja">1</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <!--<button ion-button (click)="onClickSincronizar()">SINCRONIZAR</button>
  <button ion-button (click)="onClickObterClima()">OBTER CLIMA</button>
  <button ion-button (click)="onClickLogout()">LOGOUT</button>-->
  <!--<button ion-button (click)="onClickFalarComElo()">FALAR COM ROSIE</button>-->

  <ion-row class="menu-calendario" padding-top>
    <ion-col align-self-center col-2 text-left>
      <button ion-button color="verde-claro" outline round icon-only (click)="onClickNextSlide()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col align-self-center col-8 no-padding text-center>
      <button class="dia-atual" ion-button color="verde-claro" block round icon-start text-wrap (click)="onClickChangeDateSlide()">
        <ion-icon name="calendar"></ion-icon>{{ dataAtual.descricao | capitalize }}
      </button>
    </ion-col>
    <ion-col align-self-center col-2 text-right>
      <button ion-button color="verde-claro" outline round icon-only (click)="onClickPrevSlide()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row [hidden]="true">
    <ion-col>
      <ion-datetime #datePicker [(ngModel)]="dateTimeValor" displayFormat="DD MMM, HH:mm a" pickerFormat="DD MMM YYYY" cancelText="Cancelar"
        doneText="Ok" monthShortNames="{{nomeMes}}" min="{{minDateTime}}" max="{{maxDateTime}}" (ionCancel)="onCancelDateTime()"
        (ionChange)="onChangeDateTime()"></ion-datetime>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="loadingSlides" padding center>
    <ion-col text-center>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-slides [hidden]="loadingSlides" slidesPerView="1.1" dir="rtl" (ionSlideDidChange)="onSlideChanged()" #slideDiario>
    <ion-slide *ngFor="let slide of slides; trackBy: trackSlideById">
      <ion-row>
        <ion-col no-padding>
          <ion-card>
            <ion-item>
              <strong>{{ 'DIARIO.CARD_CRISES.TITULO' | translate | capitalize }}</strong>
            </ion-item>

            <ion-grid *ngIf="!criseEmProgresso?._id && slide.crise?.nrCrise">
              <ion-row>
                <ion-col col-6>
                  <div class="number-circle">
                    <h1>{{ slide.crise.nrCrise }}</h1>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <ion-item>
                    <ion-icon name="flash" color="laranja" item-left large></ion-icon>
                    <h1>{{ slide.crise.intensidadeMedia }}</h1>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <h3>{{ 'DIARIO.CARD_CRISES.LABEL_QUANTIDADE' | translate }}</h3>
                </ion-col>
                <ion-col col-6>
                  <h3>{{ 'DIARIO.CARD_CRISES.LABEL_INTENSIDADE' | translate }}</h3>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-row *ngIf="criseEmProgresso?._id">
              <ion-col col-12 text-center>
                <p>{{ 'DIARIO.CARD_CRISES.MSG_CRISE_OCORRENDO' | translate | capitalize }}</p>
              </ion-col>
              <ion-col col-12 text-center>
                <i class="rosie-estado-vazio-exercicio"></i>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="!criseEmProgresso?._id && !slide.crise?.nrCrise" text-wrap>
              <ion-col col-12 text-center>
                <p>{{ 'DIARIO.CARD_CRISES.MSG_SEM_CRISE' | translate | capitalize }}</p>
              </ion-col>
              <ion-col col-12 text-center>
                <i class="rosie-sono-muito-boa"></i>
              </ion-col>
              <ion-col col-12 text-center>
                <button ion-button block outline (click)="onClickRegistrarCrise()">{{ 'DIARIO.CARD_CRISES.BTN_REGISTRAR_CRISE' | translate | capitalize }}</button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="slide.crise || criseEmProgresso?._id" class="card-footer">
              <ion-col>
                <button *ngIf="!criseEmProgresso?._id" ion-button clear small block color="verde-claro" icon-left (click)="onClickMinhasCrises();">
                  <ion-icon name='eye'></ion-icon>{{ 'DIARIO.CARD_CRISES.BTN_VER_DETALHES' | translate | capitalize }}
                </button>
                <button *ngIf="criseEmProgresso?._id" ion-button clear small block color="laranja" icon-left (click)="onClickRegistrarCrise();">
                  <ion-icon name='flash'></ion-icon>{{ 'DIARIO.CARD_CRISES.BTN_FINALIZAR_CRISE' | translate | capitalize }}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-icon item-left name="moon" color="verde-escuro"></ion-icon>
              <strong>{{ 'DIARIO.CARD_SONO.TITULO' | translate | capitalize }}</strong>
            </ion-item>

            <ion-item *ngIf="slide.sono?.duracaoSono">
              <ion-icon name='stopwatch' color="verde-claro" item-left large></ion-icon>
              <h2>{{ slide.sono.duracaoSono }}</h2>
              <p>{{ 'DIARIO.CARD_SONO.LABEL_TEMPO_DURACAO' | translate | capitalize }}</p>
            </ion-item>
            <ion-item *ngIf="slide.sono?.duracaoSono">
              <ion-icon name='happy' color="verde-claro" item-left large></ion-icon>
              <h2>{{ slide.sono.qualidadeSubjetiva | capitalize }}</h2>
              <p>{{ 'DIARIO.CARD_SONO.LABEL_QUALIDADE_SONO' | translate | capitalize }}</p>
            </ion-item>

            <ion-row *ngIf="!slide.sono?.duracaoSono" text-wrap>
              <ion-col col-12 text-center>
                <p>{{ 'DIARIO.CARD_SONO.MSG_SEM_SONO' | translate | capitalize }}</p>
              </ion-col>
              <ion-col col-12 text-center>
                <i class="rosie-estado-vazio-sono"></i>
              </ion-col>
              <ion-col col-12 text-center>
                <button ion-button block outline (click)="onClickSono()">{{ 'DIARIO.CARD_SONO.BTN_REGISTRAR_SONO' | translate | capitalize }}</button>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-icon item-left name="nutrition" color="laranja"></ion-icon>
              <strong>{{ 'DIARIO.CARD_ALIMENTO.TITULO' | translate | capitalize }}</strong>
            </ion-item>

            <ion-list *ngIf="slide.alimentos.length > 0" class="card-list">
              <button ion-item *ngFor="let alimento of slide.alimentos">{{ alimento.nome | capitalize }}</button>
            </ion-list>

            <ion-row *ngIf="slide.alimentos.length === 0" text-wrap>
              <ion-col col-12 text-center>
                <p>{{ 'DIARIO.CARD_ALIMENTO.MSG_SEM_ALIMENTO' | translate | capitalize }}</p>
              </ion-col>
              <ion-col col-12 text-center>
                <i class="rosie-estado-vazio-fome"></i>
              </ion-col>
              <ion-col col-12 text-center>
                <button ion-button block outline (click)="onClickAlimentacao()">{{ 'DIARIO.CARD_ALIMENTO.BTN_REGISTRAR_ALIMENTO' | translate | capitalize }}</button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="slide.alimentos.length > 0" class="card-footer">
              <ion-col (click)="onClickVerAlimentos()">
                <button ion-button clear small block color="verde-claro" icon-left>
                  <ion-icon name='eye'></ion-icon>{{ 'DIARIO.CARD_ALIMENTO.BTN_VER_TODOS' | translate | capitalize }}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-icon item-left name="walk" color="verde-escuro"></ion-icon>
              <strong>{{ 'DIARIO.CARD_PASSOS.TITULO' | translate | capitalize }}</strong>
            </ion-item>

            <ion-item *ngIf="slide.nrPassos >= 0 && slide.googleFitSync">
              <ion-icon name='speedometer' color="verde-claro" item-left large></ion-icon>
              <h2>{{ slide.nrPassos }}</h2>
              <p>{{ 'DIARIO.CARD_PASSOS.LABEL_NR_PASSOS' | translate | capitalize }}</p>
            </ion-item>

            <ion-row *ngIf="!slide.googleFitSync && googleFitIsEnabled" text-wrap>
              <ion-col col-12 text-center>
                <p>{{ 'DIARIO.CARD_PASSOS.MSG_SEM_DADOS' | translate | capitalize }}</p>
              </ion-col>
              <ion-col col-12 text-center>
                <i class="rosie-estado-vazio-exercicio"></i>
              </ion-col>
              <ion-col col-12 text-center>
                <button ion-button icon-left block outline (click)="onClickAtualizarDadosFitness()">
                  <ion-icon name="sync"></ion-icon>{{ 'DIARIO.CARD_PASSOS.LABEL_ATUALIZAR_DADOS' | translate }}
                </button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="!slide.googleFitSync && !googleFitIsEnabled">
              <ion-col col-12 text-center>
                <ion-item>
                  <ion-label> Google Fit</ion-label>
                  <ion-toggle checked="false" (ionChange)="onChangeIntegrarGoogleFit()"></ion-toggle>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item text-wrap>
                  <p>{{ 'DIARIO.CARD_PASSOS.MSG_GOOGLE_FIT' | translate | capitalize }}</p>
                </ion-item>
              </ion-col>
              <ion-col col-12 text-center>
                <button ion-button icon-left block outline (click)="onChangeIntegrarGoogleFit()">
                  <ion-icon name="sync"></ion-icon>{{ 'DIARIO.CARD_PASSOS.LABEL_GOOGLE_FIT' | translate }}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>

  <ion-fab right #fab>
    <button ion-fab (click)="onClickFab('openClose')">
      <ion-icon name="add" large></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="laranja" (click)="onClickFab('crise')">
        <ion-icon name="flash"></ion-icon>
      </button>
      <strong>{{ 'DIARIO.FAB_CRISE' | translate }}</strong>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab color="branco" (click)="onClickFab('alimentacao')">
        <ion-icon name="nutrition" color="laranja"></ion-icon>
      </button>
      <strong>{{ 'DIARIO.FAB_ALIMENTO' | translate }}</strong>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab color="verde-escuro" (click)="onClickFab('sono')">
        <ion-icon name="moon"></ion-icon>
      </button>
      <strong>{{ 'DIARIO.FAB_SONO' | translate }}</strong>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer no-shadow>
  <ib-main-menu-footer [sessaoAtual]="'diario'"></ib-main-menu-footer>
</ion-footer>

<div class="fab-modal-wrapper" [hidden]="!shouldShowFabWrapper"></div>