<ion-header>
	<ib-questionario-nav-bar [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="isSumario">
		<ion-col col-12>
			<ion-scroll #scroll scrollX="true" scrollY="false">
				<div class="timeline">
					<div *ngFor="let menuIntensidade of dadosIntensidade; let i = index" class="item-timeline">
						<div [class.selecionado]="menuIntensidade.selecionado" [style.borderColor]="getCorIcone(menuIntensidade.valor)" (click)="onClickSelecionarIntensidade(i)">
							<p *ngIf="!menuIntensidade.selecionado">{{ menuIntensidade.valor }}</p>
							<ion-icon *ngIf="menuIntensidade.selecionado" name="flash" color="laranja"></ion-icon>
						</div>
					</div>
				</div>
			</ion-scroll>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col col-12>
			<div class="container-circle-menu">
				<nav class="menu">
					<div class="menu-toggler" id="menu-toggler"></div>
					<ul>
						<li *ngFor="let item of items" class="menu-item" (click)="onClickChangeIntensidade(item)">
							<a [style.backgroundColor]="getCorIcone(item.intensidade)">
								<ion-row text-center>
									<ion-col no-padding align-self-center col-12>
										<p no-margin ion-text color="branco">{{ item.intensidade }}</p>
									</ion-col>
								</ion-row>
							</a>
						</li>
					</ul>
				</nav>

				<ion-grid no-padding class="item-indicador" [style.borderColor]="getCorIcone(itemAtual.intensidade)" [@scale]="animationsScaleState"
				 (@scale.done)="callbackAnimationScaleDone()">
					<ion-row text-center>
						<ion-col col-12 align-self-center>
							<p>{{ itemAtual.intensidade }}</p>
						</ion-col>
					</ion-row>
				</ion-grid>

				<div class="label-intensidade" text-center padding-horizontal>
					<p ion-text no-margin color="preto">
						<strong>{{ itemAtual.titulo | capitalize }}</strong>
						<br> {{ itemAtual.descricao | capitalize }}
					</p>
				</div>
			</div>
		</ion-col>
	</ion-row>
	<ion-card [@scale]="animationsScaleState" (@scale.done)="callbackAnimationScaleDone()">
		<ion-item text-wrap no-lines>
			<ion-icon name="information-circle" color="verde-claro" small item-left></ion-icon>
			Dica
		</ion-item>
		<ion-card-content>
			<p ion-text color="preto">{{ itemAtual.dica | capitalize }}</p>
		</ion-card-content>
	</ion-card>
	<ion-fab *ngIf="isSumario" bottom right>
		<button ion-fab color="verde-escuro"><ion-icon name="add" large></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab color="laranja" (click)="onClickExcluirIntensidade()"><ion-icon large name="trash"></ion-icon></button>
            <button ion-fab color="verde-claro" (click)="onClickAddNewIntensidade()"><ion-icon large name="add"></ion-icon></button>
        </ion-fab-list>
	</ion-fab>
</ion-content>

<ion-footer no-shadow>
	<ib-questionario-footer-bar [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>