ib-page-intensidade {
  $toggler-size: 3rem;
  $toggler-color: $branco-gelo;
  $toggler-transition: transform 0.5s, top 0.5s;

  $item-count: 10;
  $item-size: $toggler-size * 2;
  $item-color: $branco-gelo;
  $item-transition: 0.5s;
  $item-centro-size: $item-size;
  $item-center-position-top: $toggler-size + $item-size;
  $label-font-size: 1.8rem;
  $label-position-top: $item-centro-size + 2rem;

  $espaco-entre-elementos:  ($toggler-size * $item-count) + 2;

  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  .container-circle-menu {
    position: relative;
  }

  @mixin size ($width, $height: $width) {
    width: $width;
    height: $height;
  }

  @mixin absolute-center {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  @mixin line {
    @include size($toggler-size, $toggler-size / 8);
    display: block;
  }

  .menu ul {
    position: relative;
    min-height: $espaco-entre-elementos;
    margin: 0;
  }

  .menu-toggler {
    @include absolute-center;
    @include size($toggler-size);
    opacity: 0;
    cursor: pointer;
  }

  .menu-toggler ~ ul {
    .menu-item {
      opacity: 1;
    }

    @for $i from 0 through $item-count - 1 {
      .menu-item:nth-child(#{$i + 1}) {
        transform: rotate(360deg / $item-count * $i) translateX(-$item-size - ($toggler-size * 2));
      }
    }
  }

  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) a {
      transform: rotate(-360deg / $item-count * $i);
    }
  }

  .menu-item {
    @include absolute-center;
    @include size($item-size);
    opacity: 0;
    transition: $item-transition;
  }

  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: $item-size;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    pointer-events: none;
    transition: 0.2s;
    color: $branco-gelo;
    background-color: $verde-claro;
  }

  .menu-item i::before {
    font-size: 6rem;
    color: $branco;
  }

  .item-indicador {
    @include absolute-center;
    @include size($item-centro-size);

    top: -$item-center-position-top;
    border: 2px solid $branco-gelo;
    border-radius: 50%;
    background-color: $branco;
  }

  .item-indicador p {
    font-size: $label-font-size;
  }

  .item-indicador i::before {
    font-size: 9rem;
    color: $branco;
  }

  .label-intensidade {
    @include absolute-center;
    @include size($item-size * 3, $label-font-size * 6);
    top: $label-position-top;
    font-size: 1.2rem;
  }

  ion-scroll {
    min-height: 6rem;
  }

  .timeline {
    display: flex;
    flex-direction: row;
  }

  .item-timeline {
    width: 6rem;
    height: 6rem;
    position: relative;
    margin-right: 1rem;
  }

  .item-timeline div {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $preto;
    background: $branco;
    border: 0.2rem solid;
  }

  .item-timeline div::before {
    content: '';
    width: 4rem;
    display: inline-block;
    position: absolute;
    border-top: 0.2rem solid;
    border-color: inherit;
    left: 4.4rem;
    margin-left: -0.8rem;
    z-index: 1;
  }
}
