<ion-header>
  <ib-questionario-nav-bar *ngIf="navBarConfigurado" [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item text-wrap no-lines>
          <ion-icon name="calendar" color="verde-claro" small item-left></ion-icon>{{ descricaoDataAtual }}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="card-list-alimentos">
    <ion-item>{{ getCategoriaAtual() | translate | capitalize }}
      <ion-badge color="laranja" item-end *ngIf="alimentosSelecionados.length > 0">{{ alimentosSelecionados.length }}</ion-badge>
    </ion-item>
    <ion-scroll scrollX="false" scrollY="true">
      <ion-grid *ngIf="bindOpcoesDoGrid.length > 0">
        <ion-row text-center *ngFor="let row of bindOpcoesDoGrid;let indexRow = index;">
          <ion-col col-4 *ngFor="let alimento of row;let indexColuna = index;" (click)="onClickAcoesGridAlimentos(alimento)">
            <div class="container-categoria categoria-{{categoriaAtual}}" [ngClass]="{ 'selecionado': alimento.isSelecionado() && isModoAdd(), 'modo-edicao': isModoEdicao(), 'modo-delete': isModoDelete() }">
              <i class="{{ alimento.getIcone() }}"></i>
            </div>
            <p padding-top no-margin>{{ alimento.getNome() | capitalize }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="bindOpcoesDoGrid.length === 0">
        <ion-row>
          <ion-col col-12 text-center>
            <p>{{ 'REGISTRO_ALIMENTO.MSG.SEM_DADOS' | translate | capitalize }}</p>
            <p>{{ 'REGISTRO_ALIMENTO.MSG.INCENTIVO' | translate | capitalize }} {{ getCategoriaAtual() | translate }}!</p>
          </ion-col>
          <ion-col col-12 text-center>
            <i class="rosie-alimentos-cacto"></i>
          </ion-col>
          <ion-col col-12 text-center>
            <button ion-button block outline (click)="onClickAddPrimeiroAlimento()">{{ 'REGISTRO_ALIMENTO.BTN_TUTORIAL' | translate | capitalize }}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-scroll>
    <ion-fab left bottom edge>
      <button [disabled]="isEnableConfirmButton()" color="verde-claro" ion-fab (click)="onClickAddAlimentos()">
        <ion-icon large name="checkmark"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab #fab right bottom edge>
      <button [ngClass]="{'modo-add': isModoAdd(), 'modo-edicao': isModoEdicao(), 'modo-delete': isModoDelete() }" ion-fab (click)="onClickModoAdd()">
        <ion-icon *ngIf="isModoAdd()" name="construct" large></ion-icon>
        <ion-icon *ngIf="isModoEdicao()" name="hammer" large></ion-icon>
        <ion-icon *ngIf="isModoDelete()" name="trash" large></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button color="laranja" ion-fab (click)="onClickModoDelete()">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button color="crise-media" ion-fab (click)="onClickModoEdicao()">
          <ion-icon name="hammer"></ion-icon>
        </button>
        <button color="verde-escuro" ion-fab (click)="onClickAddNovoAlimento()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-slides slidesPerView="2.1">
    <ion-slide *ngFor="let categoria of categorias">
      <ion-row>
        <ion-col>
          <ion-card class="card-category {{categoria.cor}}" (click)="onChangeCategoria(categoria.cat)">
            <ion-item class="{{categoria.cor}}" text-center text-wrap>{{ categoria.nome | translate | capitalize }}</ion-item>
            <ion-card-content>
              <i class="{{categoria.icone}}"></i>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-footer>