ib-page-registro-alimento {
  $grid-alimentos-height-fab: 3rem;
  $grid-alimentos-margin-card: 2rem;
  $grid-alimentos-icon-size: 4rem;
  $grid-alimentos-envolucro-icon-size: 7rem;
  $cor-cafe-da-manha: #b86c3a;
  $cor-almoco: #d24f24;
  $cor-jantar: #1d56ae;
  $cor-lanches: #3a6c0c;
  // $cor-recentes: #6d1a16;
  // $cor-frequentes: #b96f46;

  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  .bg-cafe-da-manha .label,
  .bg-almoco .label,
  .bg-jantar .label,
  .bg-almoco .label,
  .bg-lanches .label {
    color: $branco;
  }

  .card-category i::before {
    font-size: 3rem;
    color: $branco;
  }

  .bg-cafe-da-manha {
    background-color: $cor-cafe-da-manha;
  }

  .bg-almoco {
    background-color: $cor-almoco;
  }

  .bg-jantar {
    background-color: $cor-jantar;
  }

  .bg-lanches {
    background-color: $cor-lanches;
  }

  // GRID ALIMENTOS

  ion-grid {
    padding: 0;
  }

  .card-list-alimentos {
    height: calc(100% - #{$grid-alimentos-height-fab + $grid-alimentos-margin-card});
    position: relative;
    overflow: visible;
    padding-bottom: $grid-alimentos-height-fab;
  }

  .card-list-alimentos ion-scroll {
    height: calc(100%  - #{$grid-alimentos-height-fab + $grid-alimentos-margin-card} + 1rem);
  }

  ion-grid i {
    display: block;
  }

  ion-grid .rosie-alimentos-cacto::before {
    font-size: 8rem;
    color: $verde-claro;
  }

  ion-grid .selecionado {
    background: $verde-claro !important;
  }

  ion-grid .container-categoria {
    width: $grid-alimentos-envolucro-icon-size;
    height: $grid-alimentos-envolucro-icon-size;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
  }

  ion-grid .container-categoria i::before {
    color: $branco;
    font-size: $grid-alimentos-icon-size;
  }

  ion-grid .categoria-0 {
    background-color: $cor-cafe-da-manha;
  }

  ion-grid .categoria-1 {
    background-color: $cor-almoco;
  }

  ion-grid .categoria-2 {
    background-color: $cor-jantar;
  }

  ion-grid .categoria-3 {
    background-color: $cor-lanches;
  }

  ion-fab .modo-add {
    background-color: $verde-escuro;
  }

  ion-fab .modo-edicao,
  ion-grid .modo-edicao {
    background-color: $crise-media;
  }

  ion-fab .modo-delete,
  ion-grid .modo-delete {
    background-color: $laranja;
  }
}
