<ion-header>
  <ion-navbar>
    <ion-title>{{ 'NOVO_ALIMENTO.TITULO' | translate | capitalize }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onClickCancelar()">
        <ion-icon large name="close" color="branco-gelo"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="novoAlimentoForm" novalidate>
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input [disabled]="modoEdicao" [(ngModel)]="modeloAlimento.nome" formControlName="nome" name="nome" type="text" spellcheck="false"
        autocapitalize="off"></ion-input>
      <ion-icon item-right *ngIf="!novoAlimentoForm.get('nome').errors && novoAlimentoForm.get('nome').dirty" name="checkmark-circle"
        color="verde-claro"></ion-icon>
      <ion-icon item-right *ngIf="novoAlimentoForm.get('nome').errors && (novoAlimentoForm.get('nome').dirty || submitted)" name="alert"
        color="danger"></ion-icon>
    </ion-item>
    <p *ngIf="novoAlimentoForm.get('nome').getError('opcaoJaExiste')" ion-text color="danger" padding-left>{{ 'NOVO_ALIMENTO.MSG.ALIMENTO_JA_ADD' | translate | capitalize }}</p>

    <ion-item padding-top no-lines>
      <ion-label>{{ 'NOVO_ALIMENTO.LABEL.CATEGORIA' | translate | capitalize }}:</ion-label>
    </ion-item>
    <ion-item *ngFor="let categoria of categorias">
      <ion-label>{{ categoria.nome | translate | capitalize }}</ion-label>
      <ion-checkbox color="verde-claro" [(ngModel)]="categoria.model" [ngModelOptions]="{standalone: true}"></ion-checkbox>
    </ion-item>
    <p *ngIf="categoriaIsEmpty()" ion-text color="danger" padding-left>{{ 'NOVO_ALIMENTO.MSG.DEVE_SELECIONAR_CATEGORIA' | translate | capitalize }}</p>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button block ion-button color="laranja" outline (click)="onClickCancelar()">{{ 'NOVO_ALIMENTO.BTN_CANCELAR' | translate }}</button>
    </ion-col>
    <ion-col col-6>
      <button block ion-button color="verde-claro" (click)="onClickRegistrar()">{{ 'NOVO_ALIMENTO.BTN_ADICIONAR' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>