<ion-header>
  <ion-navbar>
    <ion-title>Adicionar endereço</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onClickCancelar()">
        <ion-icon large name="close" color="branco-gelo"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="map-container">
    <div [hidden]="!mapIsLoaded" class="position-map-top">
      <div>
        <input #mapSearchBox class="controls" type="text" placeholder="Digite um endereço">
      </div>
      <div>
        <ion-item text-wrap>
          <ion-label> <strong>{{ modeloOpcao.getNome() | capitalize }}</strong> é um local fixo?</ion-label>
          <ion-toggle [(ngModel)]="isLocalFixo"></ion-toggle>
        </ion-item>
      </div>
    </div>
    <div #map class="wrap-map">
      <ion-row *ngIf="!mapIsLoaded" padding center>
        <ion-col text-center>
          <ion-spinner name="bubbles"></ion-spinner>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="position-map-bottom" [hidden]="!mapIsLoaded" block padding>
      <ion-col col-12>
        <button block large ion-button color="verde-claro" (click)="onClickRegistrar()">Adicionar</button>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>