ib-page-adicionar-gps {
  .wrap-map {
    width: 100%;
    height: 100%;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .controls {
    width: 100%;
    height: 6rem;
    background-color: $branco;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 1.1rem 0 1.3rem;
    text-overflow: ellipsis;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.2rem 0 0 0.2rem;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  }

  .controls:focus {
    border-color: $verde-claro;
  }

  .position-map-top {
    width: 100%;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
  }

  .position-map-top div {
    padding: 0 0.6rem;
  }

  .position-map-bottom {
    width: 100%;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .item-md {
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
  }
}
