<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MINHA_CEFALEIA.TITULO' | translate | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item text-wrap no-lines>
          <ion-icon name="information-circle" color="verde-claro" small item-left></ion-icon>{{ 'MINHA_CEFALEIA.DESCRICAO' | translate | capitalize }}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="info-media">
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines text-wrap text-center>
          <ion-icon name="flash" color="laranja" no-margin large item-start></ion-icon>
          <ion-row item-end>
            <ion-col no-padding col-12>
              <strong>{{ nrCrises }}</strong>
            </ion-col>
            <ion-col no-padding col-12>
              <p>{{ 'MINHA_CEFALEIA.CARD_CRISE.TITULO' | translate | capitalize }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines text-wrap text-center>
          <ion-icon name="time" color="laranja" no-margin large item-start></ion-icon>
          <ion-row item-end>
            <ion-col no-padding col-12>
              <strong>{{ textoDuracaoDor | capitalize }}</strong>
            </ion-col>
            <ion-col no-padding col-12>
              <p>{{ 'MINHA_CEFALEIA.CARD_DURACAO.TITULO' | translate | capitalize }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-item>
      <ion-icon name='calendar' color='verde-claro' item-left></ion-icon>
      <h2>{{ 'MINHA_CEFALEIA.CARD_QUANDO_ACONTECE.TITULO' | translate | capitalize }}</h2>
    </ion-item>
    <ion-card-content>
      <p padding-bottom>{{ 'MINHA_CEFALEIA.CARD_QUANDO_ACONTECE.DESCRICAO' | translate | capitalize }}</p>
      <ion-row>
        <ion-col *ngFor="let quandoAcontece of dadosQuandoAcontece" class="align-center" col-6>
          <div class="progress-circle">
            <strong text-center>{{ quandoAcontece.percentual }}%</strong>
          </div>
          <p>{{ quandoAcontece.label | capitalize }}</p>
        </ion-col>
        <ion-col *ngIf="dadosQuandoAcontece.length === 0" col-12>
          <p ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_DADOS' | translate | capitalize }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name='moon' color='verde-claro' item-left></ion-icon>
      <h2>{{ 'MINHA_CEFALEIA.CARD_SONO.TITULO' | translate | capitalize }}</h2>
    </ion-item>
    <ion-card-content>
      <p padding-bottom>{{ 'MINHA_CEFALEIA.CARD_SONO.DESCRICAO' | translate | capitalize }}</p>
      <p *ngIf="dadosSono.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_SONO' | translate | capitalize }}</p>
      <ion-row *ngIf="dadosSono.length > 0">
        <ion-col *ngFor="let sono of dadosSono" class="align-center" col-6>
          <strong text-center>{{ sono.duracao }}</strong>
          <p>{{ sono.label }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <i ion-text color="verde-claro" class="rosie-sumario-gatilho" item-left></i>
      <h2>{{ 'MINHA_CEFALEIA.CARD_GATILHO.TITULO' | translate | capitalize }}</h2>
      <button ion-button clear large no-margin item-right>
        <ion-icon name='more' color='preto'></ion-icon>
      </button>
    </ion-item>
    <ion-card-content class="graph">
      <p padding-bottom>{{ 'MINHA_CEFALEIA.CARD_GATILHO.DESCRICAO' | translate | capitalize }}</p>
      <ion-row *ngFor="let gatilho of gatilhos">
        <ion-col class="label" col-4>{{ gatilho.label | capitalize }}</ion-col>
        <ion-col class="bar bar-{{gatilho.percentual}}" col-6></ion-col>
        <ion-col class="percent" col-2>{{ gatilho.percentual }}%</ion-col>
      </ion-row>

      <p *ngIf="gatilhos.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_GATILHO' | translate | capitalize }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <i ion-text color="verde-claro" class="rosie-sumario-sintoma" item-left></i>
      <h2>{{ 'MINHA_CEFALEIA.CARD_SINTOMA.TITULO' | translate | capitalize }}</h2>
      <button ion-button clear large no-margin item-right>
        <ion-icon name='more' color='preto'></ion-icon>
      </button>
    </ion-item>
    <ion-card-content class="graph">
      <p padding-bottom>{{ 'MINHA_CEFALEIA.CARD_SINTOMA.DESCRICAO' | translate | capitalize }}</p>
      <ion-row *ngFor="let sintoma of sintomas">
        <ion-col class="label" col-4>{{ sintoma.label | capitalize }}</ion-col>
        <ion-col class="bar bar-{{sintoma.percentual}}" col-6></ion-col>
        <ion-col class="percent" col-2>{{ sintoma.percentual }}%</ion-col>
      </ion-row>

      <p *ngIf="sintomas.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_SINTOMA' | translate | capitalize }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <i ion-text color="verde-claro" class="rosie-sumario-menstruacao" item-left></i>
      <h2>{{ 'MINHA_CEFALEIA.CARD_MENSTRUACAO.TITULO' | translate | capitalize }}</h2>
    </ion-item>
    <ion-card-content>
      <p padding-bottom>{{ 'MINHA_CEFALEIA.CARD_MENSTRUACAO.DESCRICAO' | translate | capitalize }}</p>
      <ion-row>
        <ion-col *ngFor="let menstrucao of dadosMenstruacao" class="align-center" col-4>
          <div class="progress-circle">
            <strong text-center>{{ menstrucao.percentual }}%</strong>
          </div>
          <p text-center>{{ menstrucao.label | capitalize }}</p>
        </ion-col>
      </ion-row>

      <p *ngIf="dadosMenstruacao.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_MENSTRUACAO' | translate | capitalize }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <i ion-text color="verde-claro" class="rosie-sumario-localizacao-dor" item-left></i>
      <h2>{{ 'MINHA_CEFALEIA.CARD_LOCALIZACAO.TITULO' | translate | capitalize }}</h2>
    </ion-item>
    <ion-card-content>
      <p padding-bottom>{{ 'MINHA_CEFALEIA.CARD_LOCALIZACAO.DESCRICAO' | translate | capitalize }}</p>
      <p *ngIf="localizacoesSelecionadas.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_LOCALIZACAO' | translate | capitalize }}</p>
      <ion-row *ngIf="localizacoesSelecionadas.length > 0" text-center>
        <ion-col>
          <ib-localizacao-dor-touch *ngIf="componenteConfigurado" [configuracoes]="configuracaoLocalizacaoCanvasTouch"></ib-localizacao-dor-touch>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <i ion-text color="verde-claro" class="rosie-sumario-medicamento" item-left></i>
      <h2>{{ 'MINHA_CEFALEIA.CARD_MEDICAMENTO.TITULO' | translate | capitalize }}</h2>
      <button ion-button clear large no-margin item-right>
        <ion-icon name='more' color='preto'></ion-icon>
      </button>
    </ion-item>
    <ion-card-content>
      <p>{{ 'MINHA_CEFALEIA.CARD_MEDICAMENTO.DESCRICAO' | translate | capitalize }}</p>
      <p *ngIf="medicamentos.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_MEDICAMENTO' | translate | capitalize }}</p>
    </ion-card-content>
    <ion-list *ngIf="medicamentos.length > 0">
      <ion-item class="header">{{ 'MINHA_CEFALEIA.CARD_MEDICAMENTO.LABEL' | translate | capitalize }}
        <div item-right>Dose</div>
      </ion-item>
      <ion-item *ngFor="let medicamento of medicamentos">{{ medicamento.label | capitalize }}
        <div item-right>
          <div class="progress-circle">
            <strong text-center>{{ medicamento.quantidade }}</strong>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item>
      <i ion-text color="verde-claro" class="rosie-sumario-metodo-alivio" item-left></i>
      <h2>{{ 'MINHA_CEFALEIA.CARD_METODO.TITULO' | translate | capitalize }}</h2>
      <button ion-button clear large no-margin item-right>
        <ion-icon name='more' color='preto'></ion-icon>
      </button>
    </ion-item>
    <ion-card-content>
      <p>{{ 'MINHA_CEFALEIA.CARD_METODO.DESCRICAO' | translate | capitalize }}</p>
      <p *ngIf="metodosEficientes.length === 0" ion-text color="laranja">{{ 'MINHA_CEFALEIA.MSG.FALTA_METODO' | translate | capitalize }}</p>
    </ion-card-content>
    <ion-list *ngIf="metodosEficientes.length > 0">
      <ion-item class="header">Método {{ 'MINHA_CEFALEIA.CARD_METODO.LABEL' | translate | capitalize }}
        <div item-right>Utilidade</div>
      </ion-item>
      <ion-item *ngFor="let metodoEdificiente of metodosEficientes">
        <ion-row>
          <ion-col col-8 align-self-end>{{ metodoEdificiente.label | capitalize }}
          </ion-col>
          <ion-col col-4 text-center>
            <i class="{{ metodoEdificiente.utilidade[0].icone }}"></i>
            <p>
              <strong>{{ metodoEdificiente.utilidade[0].nome | capitalize }}</strong>
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>