ib-page-minha-cefaleia {
  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  .info-media .item-md {
    height: 100%;
  }

  .col-wrapper-icone {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .mm-intensidade-forte::before {
    font-size: 2.6rem;
    color: $laranja;
  }

  .mm-intensidade-fraca::before {
    font-size: 2.6rem;
    color: $verde-claro;
  }

  .mm-intensidade-media::before {
    font-size: 2.6rem;
    color: $crise-fraca;
  }

  .progress-circle {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    color: $branco;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: $verde-claro;
  }

  .align-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .item-md [no-margin] {
    margin: 0;
  }

  ion-card ion-list .header {
    border-top: 1px solid $branco-gelo;
    border-bottom: 1px solid $branco-gelo;
  }

  .graph .percent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
  }

  .graph .label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
  }

  .bar {
    width: 100%;
    border-left: 0.1rem solid $cinza-c6;
    padding-left: 0;
    padding-right: 0;

    &::after {
      content: '';
      display: block;
      background-color: $verde-claro;
      width: 5rem;
      margin-bottom: 1rem;
      height: 2rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @for $i from 1 through 100 {
    .bar-#{$i} {
      &::after {
        $value: ($i * 1%);
        width: $value;
      }
    }
  }
}
