// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$verde-escuro: #01402e;
$verde-claro: #279379;
$branco-gelo: #f2f1f0;
$cinza-c6: #c6c6c6;
$laranja: #c9402e;
$branco: #fff;
$crise-fraca: #ffdf00;
$crise-media: #f4960e;
$preto: #000;

$toolbar-background: $verde-claro;
$toolbar-text-color: $branco-gelo;

$text-color:        #000;
$background-color:  $branco;
$text-input-highlight-color-valid: $verde-claro;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $verde-claro,
  secondary:  $verde-escuro,
  danger:     $laranja,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69bb7b,
  facebook:    #3b5998,
  verde-escuro: $verde-escuro,
  verde-claro: $verde-claro,
  laranja: $laranja,
  branco-gelo: $branco-gelo,
  cinza-c6: $cinza-c6,
  preto: $preto,
  branco: $branco,
  crise-fraca: $crise-fraca,
  crise-media: $crise-media,
  crise-forte: #c9402e,
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import 'ionic.ionicons';
// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.

@import 'roboto';
@import 'noto-sans';

@import '../assets/fonts/questionario/font';
@import '../assets/fonts/openSans/font';
@import '../assets/fonts/alimentos/font';
@import '../assets/fonts/sono/font';
@import '../assets/fonts/estado-vazio/font';
@import '../assets/fonts/sumario/font';
@import '../assets/fonts/sweetalert2/sweetalert2';

$font-family-ios-base: "open_sansregular", Arial, 'sans-serif';// DEFINIR
$font-family-md-base: "open_sansregular", "Roboto", "Helvetica Neue", sans-serif;
$font-family-wp-base: "open_sansregular", Arial, 'sans-serif';// DEFINIR
$spinner-md-bubbles-color: $verde-claro;
$spinner-ios-bubbles-color: $verde-claro;
$spinner-wp-bubbles-color: $verde-claro;
$card-md-background-color: $branco;

.nav-bar-questionario .toolbar-title {
  white-space: normal;
}

.transparent-modal .modal-wrapper {
  box-shadow: none;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.transparent-modal ion-backdrop {
  visibility: visible;
  z-index: 0;
  opacity: 0.7 !important;
}

.transparent-modal ion-content {
  background-color: transparent;
}
