<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SUMARIO.TITULO' | translate | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row center [style.background-color]="porcentagemCor">
      <ion-col col-4 text-center [style.color]="'#f2f1f0'">
        <ion-icon name="checkmark-circle-outline" color="branco-gelo"></ion-icon>&nbsp;&nbsp;<strong>{{ porcentagem }}%</strong>
      </ion-col>
    </ion-row>
    <ib-item-sumario *ngFor="let itemSumario of bindItensSumario;" [item]="itemSumario"></ib-item-sumario>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-3>
      <button ion-button icon-only color="laranja" block (click)="onClickExcluirRegistroCrise()">
        <ion-icon name="trash" item-left></ion-icon>
      </button>
    </ion-col>
    <ion-col col-9>
      <button ion-button color="verde-claro" block (click)="onClickConfirmar()">{{ 'SUMARIO.BTN_CONFIRMAR' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>