<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>
    <ion-slide *ngFor="let slide of bodySlides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title">{{ slide.title | translate | capitalize }}</h2>
      <p class="slide-description">{{ slide.description | translate | capitalize }}</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/onboarding/vamos-comecar.png" class="slide-image" />
      <h2 class="slide-title">{{ 'TUTORIAL.TITULO4' | translate | capitalize }}</h2>
      <button ion-button icon-right large clear color="branco-gelo" (click)="onClickVamosComecar()">{{ 'TUTORIAL.DESCRICAO4' | translate | capitalize }}
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer [attr.no-shadow]="isLastSlide ? '' : null" [attr.no-border]="isLastSlide ? '' : null">
  <ion-toolbar>
    <ion-item no-lines no-details>
      <button item-end ion-button round (click)="onClickEntrar()" color="verde-escuro">CHAT</button>
    </ion-item>
    <ion-row>
      <ion-col col-12 *ngIf="!isLastSlide">
        <ion-item no-lines no-details>
          <button *ngIf="!isFirstSlide" item-start ion-button outline round (click)="slides.slidePrev()" color="branco-gelo">{{ 'TUTORIAL.PREV_SLIDE' | translate | capitalize }}</button>
          <button item-end ion-button round (click)="slides.slideNext()" color="verde-escuro">{{ 'TUTORIAL.NEXT_SLIDE' | translate | capitalize }}</button>
        </ion-item>
      </ion-col>
      <ion-col col-12 *ngIf="isLastSlide">
        <!--<div padding [@focus]="animationState" (@focus.done)="callbackAnimationFocusDone()">
          <button *ngIf="!facebookLoading" ion-button block (click)="onClickLoginFacebook()" color="facebook">{{ 'TUTORIAL.FACEBOOK' | translate }}</button>
          <button *ngIf="facebookLoading" ion-button block (click)="onClickLoginFacebook()" color="facebook">
            <ion-spinner name="dots" color="branco-gelo"></ion-spinner>
            &nbsp;&nbsp;&nbsp;
            {{ 'TUTORIAL.LOGIN' | translate | capitalize }}
          </button>
        </div>-->
        <div padding-horizontal padding-bottom [@focus]="animationState" (@focus.done)="callbackAnimationFocusDone()">
          <button ion-button block (click)="onClickLoginSMS()" color="verde-escuro">{{ 'TUTORIAL.LOGIN_SMS' | translate | capitalize }}</button>
        </div>
        <div padding-horizontal padding-bottom [@focus]="animationState" (@focus.done)="callbackAnimationFocusDone()">
          <button ion-button outline block (click)="onClickLoginEmail()" color="branco-gelo">{{ 'TUTORIAL.LOGIN_EMAIL' | translate | capitalize }}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>