ib-page-tutorial {
  .content {
    background-color: $verde-claro;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 0;
    color: #fff;
    /*text-shadow: 1px 1px #666;*/
  }

  .swiper-pagination {
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  .slide-description {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: $branco-gelo;
    /*text-shadow: 1px 1px #666;*/
  }

  ion-footer .item-md {
    background-color: transparent;
  }
}
