<ion-content>
  <ion-row class="all-container">
      <ion-col no-padding col-12>
          <div class="container-circle-menu">
              <nav class="menu">
                  <div class="menu-toggler" id="menu-toggler"></div>
                  <ul>
                      <li *ngFor="let menu of menuOpcoes" class="menu-item" (click)="onClickAcaoMenu(menu.acao)">
                          <a [ngClass]="menu.backgroundColor">
                              <ion-row>
                                  <ion-col no-padding align-self-center col-12>
                                      <p text-center no-margin>{{ menu.texto }}</p>
                                  </ion-col>
                              </ion-row>
                          </a>
                      </li>
                  </ul>
              </nav>

              <ion-row class="item-medicamento" (click)="onClickCancelar()" [@focus]="animationState" (@focus.done)="callbackAnimationFocusDone()">
                  <ion-col no-padding text-center align-self-center class="mm-medicamento">
                      <div class="item-quantidade-wrapper">
                          <p no-margin ion-text color="preto" class="posicionamento-texto-centro">
                              <strong margin-top>{{ quantidadeMedicamento }}</strong>
                          </p>
                      </div>
                  </ion-col>
              </ion-row>

              <div class="label-medicamento" text-center padding-horizontal>
                  <p ion-text no-margin color="branco-gelo">{{ modeloOpcao.nome | capitalize }}</p>
              </div>
          </div>
      </ion-col>
  </ion-row>
</ion-content>

<ion-footer padding>
  <button ion-button block large color="verde-claro" (click)="onClickRegistrar()">Confirmar</button>
</ion-footer>