ib-page-adicionar-quantidade-medicamento {
  $toggler-size: 3.5rem;
  $toggler-color: $branco-gelo;
  $toggler-transition: transform 0.5s, top 0.5s;

  $item-count: 6;
  $item-size: $toggler-size * 2;
  $item-color: $branco-gelo;
  $item-transition: 0.5s;
  $item-centro-size: $item-size * 1.8;
  $item-center-position-top: $toggler-size + $item-size;
  $label-font-size: 1.8rem;
  $label-position-top: $item-center-position-top + $item-centro-size + ($label-font-size * 3);

  $espaco-entre-elementos:  ($toggler-size * 2) + 0.5rem;

  .all-container {
    padding-top: 45%;
  }

  .container-circle-menu {
    position: relative;
  }

  @mixin size ($width, $height: $width) {
    width: $width;
    height: $height;
  }

  @mixin absolute-center {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  @mixin line {
    @include size($toggler-size, $toggler-size / 8);
    display: block;
  }
/*
  .mm-opcao-adicionar::before {
    font-size: 8rem;
  }

  .verde-escuro {
    color: $verde-escuro;
  }

  .verde-claro {
    color: $verde-claro;
  }

  .branco-gelo {
    color: $branco-gelo;
  }
  .laranja-color {
    color: $laranja;
  }*/

  .menu {
    padding-top: $espaco-entre-elementos;
  }

  .menu ul {
    position: relative;
    min-height: 12rem;
    margin: 0;
  }

  .menu-toggler {
    @include absolute-center;
    @include size($toggler-size);
    opacity: 0;
    cursor: pointer;
  }

  .menu-toggler ~ ul {
    .menu-item {
      opacity: 1;
    }

    @for $i from 0 through $item-count - 1 {
      .menu-item:nth-child(#{$i + 1}) {
        transform: rotate(360deg / $item-count * $i) translateX(-$item-size - 4.5rem);
      }
    }
  }

  .menu-toggler + label {
    @include line;
    @include absolute-center;

    &::before {
      position: absolute;
    }

  }

  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) a {
      transform: rotate(-360deg / $item-count * $i);
    }
  }

  .menu-item {
    @include absolute-center;
    @include size($item-size);
    opacity: 0;
    transition: $item-transition;
  }

  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: $item-size;
    border-radius: 50%;
    text-decoration: none;
    font-size: $label-font-size;
    pointer-events: none;
    transition: 0.2s;
    color: $branco-gelo;
  }

  .item-medicamento {

    @include absolute-center;
    @include size($item-centro-size);

    top: $item-center-position-top;
    background: $branco-gelo;
    border-radius: 50%;
    display: flex;
  }

  .item-medicamento p {
    font-size: $label-font-size;
  }

  .item-quantidade-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .quantidade {
    @include line;
    @include absolute-center;
    top: 230px;
    width: 100px;
    text-align: -webkit-center;
  }

  .label-medicamento {
    @include absolute-center;
    @include size(100%, $label-font-size * 2);
    top: $label-position-top;
    font-size: $label-font-size;
  }

  .posicionamento-texto-centro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .laranja-background {
    background-color: $laranja;
  }

  .verde-claro-background {
    background-color: $verde-claro;
  }

  .mm-pilula::before {
    font-size: 2.1rem;
  }

  .mm-medicamento::before {
    font-size: 9rem;
    color: $verde-claro;
  }
}
