$font-path: '../assets/fonts';

@font-face {
  font-family: 'rosieSono';
  src: url('#{$font-path}/sono/rosieSono.eot');
  src: url('#{$font-path}/sono/rosieSono.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/sono/rosieSono.woff') format('woff'),
       url('#{$font-path}/sono/rosieSono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='rosie-sono-']::before,
[class*=' rosie-sono-']::before,
[class^='rosie-sono-']::after,
[class*=' rosie-sono-']::after {
  display: inline-block;
  font-family: 'rosieSono';
  font-style: normal;
  font-size: 2.6rem;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.rosie-sono-muito-ruim::before {
  content: '\0062';
}

.rosie-sono-ruim::before {
  content: '\0063';
}

.rosie-sono-muito-boa::before {
  content: '\0061';
}

.rosie-sono-boa::before {
  content: '\0064';
}
