<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MINHAS_CRISES.TITULO' | translate | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="crises.length > 0 && !carregandoDados">
    <ion-item-group *ngFor="let crisesDoMes of bindListaDeCrises; let grupoIndex=index;">
      <div *ngIf="crisesDoMes.crises.length > 0">
        <ion-list-header no-lines [color]="crisesDoMes.cor">{{ crisesDoMes.label | translate | capitalize }}</ion-list-header>
        <ion-card *ngFor="let crise of crisesDoMes.crises; let criseIndex=index; let isLast=last;" #card>
          <ion-item>
            <ion-row no-padding>
              <ion-col text-left>{{ crise.getTextoData() }}</ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="crise.isOcorrendo()">
            <ion-icon name='time' color='laranja' item-left large></ion-icon>
            <h2>{{ 'MINHAS_CRISES.ITEM.OCORRENDO.TITULO' | translate | capitalize }}</h2>
            <p>{{ 'MINHAS_CRISES.ITEM.OCORRENDO.DESCRICAO' | translate | capitalize }}</p>
          </ion-item>
          <ion-item>
            <ion-icon name='checkmark-circle' [style.color]="crise.getProgressoCor()" item-left large></ion-icon>
            <h2>{{ crise.getPorcentagem() }}% {{ 'MINHAS_CRISES.ITEM.PERCENTUAL.TITULO' | translate }}</h2>
            <p>{{ 'MINHAS_CRISES.ITEM.PERCENTUAL.DESCRICAO' | translate | capitalize }}</p>
          </ion-item>
          <ion-item *ngIf="crise.getDuracao()">
            <ion-icon name='stopwatch' [color]="crisesDoMes.cor" item-left large></ion-icon>
            <h2>{{ crise.getDuracao() | capitalize }}</h2>
            <p>{{ 'MINHAS_CRISES.ITEM.DURACAO.DESCRICAO' | translate | capitalize }}</p>
          </ion-item>
          <ion-item *ngIf="crise.getCrise().intensidade[0] && !crise.isOcorrendo()">
            <ion-icon name='flash' [style.color]='crise.getCorIntensidade()' item-left large></ion-icon>
            <h2>{{ 'MINHAS_CRISES.ITEM.INTENSIDADE.TITULO' | translate | capitalize }} {{ crise.getClassificacaoIntensidade() | capitalize }}</h2>
            <p>{{ 'MINHAS_CRISES.ITEM.INTENSIDADE.DESCRICAO' | translate | capitalize }}</p>
          </ion-item>
          <ion-row class="card-footer" no-padding>
            <ion-col col-4>
              <button ion-button clear small color="verde-claro" icon-left (click)="onClickIrParaSumario(crise.getCrise())">
                <ion-icon name='list-box'></ion-icon>{{ 'MINHAS_CRISES.BTN_SUMARIO' | translate | capitalize }}
              </button>
            </ion-col>
            <ion-col col-4 text-center>
              <button [attr.disabled]="crise.isOcorrendo() ? '' : null" ion-button clear small color="verde-claro" icon-left>
                <ion-icon name='pulse'></ion-icon>
                Timeline
              </button>
            </ion-col>
            <ion-col col-4 text-right>
              <button ion-button clear small color="laranja" icon-left (click)="onClickExcluirCrise(card, crise, grupoIndex, criseIndex)">
                <ion-icon name='trash'></ion-icon>{{ 'MINHAS_CRISES.BTN_EXCLUIR' | translate | capitalize }}
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-item-group>
  </ion-list>

  <ion-card *ngIf="crises.length === 0 && !carregandoDados">
    <ion-item>
      <ion-row no-padding>
        <ion-col text-right>
          0%
          <ion-icon name='checkmark-circle' color="cinza-c6"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-list>
      <button ion-item (click)="onClickRegistrarPrimeiraCrise()">
        <ion-icon name="add-circle" color="verde-claro" item-left></ion-icon>{{ 'MINHAS_CRISES.ITEM.VAZIO.TITULO' | translate | capitalize }}
        <p>{{ 'MINHAS_CRISES.ITEM.VAZIO.DESCRICAO' | translate }}</p>
      </button>
    </ion-list>
    <ion-row class="card-footer" no-padding>
      <ion-col col-4>
        <button disabled ion-button clear small color="cinza-c6" icon-left>
          <ion-icon name='list-box'></ion-icon>{{ 'MINHAS_CRISES.BTN_SUMARIO' | translate | capitalize }}
        </button>
      </ion-col>
      <ion-col col-4 text-center>
        <button disabled ion-button clear small color="cinza-c6" icon-left>
          <ion-icon name='pulse'></ion-icon>
          Timeline
        </button>
      </ion-col>
      <ion-col col-4 text-right>
        <button didabled ion-button clear small color="cinza-c6" icon-left>
          <ion-icon name='trash'></ion-icon>{{ 'MINHAS_CRISES.BTN_EXCLUIR' | translate | capitalize }}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row *ngIf="carregandoDados" padding center>
    <ion-col text-center>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
  </ion-row>

</ion-content>