ib-page-minhas-crises {
  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  .list-header-md {
    font-size: 1.8rem;
  }

  .stick ion-list-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .menu-calendario {
    background-color: $branco;
  }

  .card-footer {
    border-top: 1px solid $cinza-c6;
  }
}
