<div *ngIf="item">
  <button *ngIf="item.getConteudo()" ion-item no-lines no-padding detail-none text-wrap [class.sem-dados]="!item.isComplete()"
    (click)="onClickIrParaQuestao();">
        <ion-row no-padding item-center>
            <ion-col item-left text-center col-4 class="col-icone">
                <i [ngClass]="item.getIcone()"></i>
                <p>{{ item.getTitulo() | translate | capitalize }}</p>
            </ion-col>
            <ion-col item-center text-left no-padding padding-horizontal class="col-content">
                <ib-localizacao-dor-touch [hidden]="!item.isComplete()" margin-top class="container-localizacao" [configuracoes]="configuracaoLocalizacaoCanvasTouch"></ib-localizacao-dor-touch>
                <p item-left>{{ item.getConteudo() }}</p>
            </ion-col>
            <ion-col item-right text-center col-2 class="col-arrow">
                <ion-icon name="return-right"></ion-icon>
            </ion-col>
        </ion-row>
    </button>
</div>