$font-path: '../assets/fonts';

@font-face {
  font-family: 'rosieSumario';
  src: url('#{$font-path}/sumario/rosieSumario.eot');
  src: url('#{$font-path}/sumario/rosieSumario.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/sumario/rosieSumario.woff') format('woff'),
       url('#{$font-path}/sumario/rosieSumario.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='rosie-sumario-']::before,
[class*=' rosie-sumario-']::before,
[class^='rosie-sumario-']::after,
[class*=' rosie-sumario-']::after {
  display: inline-block;
  font-family: 'rosieSumario';
  font-style: normal;
  font-size: 2.6rem;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.rosie-sumario-duracao::before {
  content: '\006B';
}

.rosie-sumario-intensidade::before {
  content: '\0061';
}

.rosie-sumario-medicamento::before {
  content: '\0062';
}

.rosie-sumario-localizacao-dor::before {
  content: '\0063';
}

.rosie-sumario-sensacao::before {
  content: '\0064';
}

.rosie-sumario-sintoma::before {
  content: '\0065';
}

.rosie-sumario-metodo-alivio::before {
  content: '\0066';
}

.rosie-sumario-metodo-eficiente::before {
  content: '\0067';
}

.rosie-sumario-gatilho::before {
  content: '\0068';
}

.rosie-sumario-consequencia::before {
  content: '\0069';
}

.rosie-sumario-clima::before {
  content: '\006C';
}

.rosie-sumario-local::before {
  content: '\006D';
}

.rosie-sumario-anotacoes::before {
  content: '\006E';
}

.rosie-sumario-menstruacao::before {
  content: '\006F';
}

.rosie-sumario-comida::before {
  content: '\0070';
}

.rosie-sumario-bebida::before {
  content: '\0071';
}

.rosie-sumario-esforco-fisico::before {
  content: '\0072';
}
