<ion-header>
  <ib-questionario-nav-bar [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-textarea ibElastic [(ngModel)]="anotacoes" [ngModelOptions]="{standalone: true}" placeholder="Sua anotação aqui..."></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-fab bottom right>
    <button ion-fab color="verde-escuro"><ion-icon large name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="verde-claro" (click)="onClickAddNota()"><ion-icon large name="clock"></ion-icon></button>
      <button ion-fab color="laranja" (click)="onClickLimparNotas()"><ion-icon large name="trash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer no-shadow>
  <ib-questionario-footer-bar [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>