<ion-row no-padding *ngIf="item">
  <ib-item-sumario-comum *ngIf="item.getTipo() !== 'intensidade' && item.getTipo() !== 'localizacoesDeDor' && item.getTipo() !== 'duracao' && item.getTipo() !== 'clima'"
    [item]="item"></ib-item-sumario-comum>
  <ib-item-sumario-intensidade *ngIf="item.getTipo() === 'intensidade'" [item]="item"></ib-item-sumario-intensidade>
  <ib-item-sumario-localizacao *ngIf="item.getTipo() === 'localizacoesDeDor'" [item]="item"></ib-item-sumario-localizacao>
  <ib-item-sumario-duracao *ngIf="item.getTipo() === 'duracao'" [item]="item"></ib-item-sumario-duracao>
  <ib-item-sumario-clima *ngIf="item.getTipo() === 'clima'" [item]="item"></ib-item-sumario-clima>
</ion-row>