ib-item-sumario {
  width: 100%;

  > ion-row {
    border-bottom: 1px solid $branco-gelo;
  }

  .sem-dados .col-arrow {
    color: $laranja;
  }

  .sem-dados .col-content p {
    color: $laranja;
  }

  .col-arrow {
    color: $verde-escuro;
  }

  .item .col-icone {
    background-color: $verde-escuro;
    margin: 0;

    i,
    p {
      color: $branco-gelo;
    }

    p {
      font-size: 1.2rem;
    }

    i::before {
      font-size: 3.6rem;
    }
  }

  .col-content p {
    color: $verde-escuro;
  }

  .sem-dados .col-icone {
    background-color: $laranja;
  }

  .col-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .col-arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .col-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
