<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <ion-title>{{ 'EU.TITULO' | translate | capitalize }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="bg-branco" padding-top padding-bottom>
    <ion-col class="photo" col-4>
      <div>
        <ion-icon name="camera" color="branco-gelo"></ion-icon>
      </div>
    </ion-col>
    <ion-col col-8 text-center>
      <h4>Allan Soares Duarte</h4>
      <button ion-button small outline round color="verde-claro">{{ 'EU.BTN_ASSINAR' | translate | capitalize }}</button>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item text-wrap no-lines>
          <ion-icon name="information-circle" color="verde-claro" small item-left></ion-icon>{{ 'EU.PLANO_BASICO' | translate | capitalize }}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-item text-wrap text-center no-padding no-lines (click)="onClickPerfil()">
          <ion-icon name="person" color="verde-claro"></ion-icon>
          <p>{{ 'EU.BTN_PERFIL' | translate | capitalize }}</p>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-item text-wrap text-center no-padding no-lines (click)="onClickMinhaCefaleia()">
          <ion-icon name="stats" color="verde-claro"></ion-icon>
          <p>{{ 'EU.BTN_ESTATISTICA' | translate | capitalize }}</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="goal" class="goal-card">
    <ion-card-header color="branco-gelo">Objetivo atual</ion-card-header>
    <ion-card-content>
      <ion-card-title no-padding-top color="branco-gelo">{{ goal?.title | capitalize }}</ion-card-title>
      <p ion-text color="branco-gelo">{{ goal?.subtitle | capitalize }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button color="branco-gelo" ion-button block round outline icon-start>
          <ion-icon name="checkmark"></ion-icon>
          Feito
        </button>
      </ion-col>
      <ion-col>
        <button color="branco-gelo" ion-button block round outline icon-start>
          <ion-icon name="eye"></ion-icon>
          Detalhes
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header>{{ 'EU.CARD_CEFALEIA.TITULO' | translate | capitalize }}</ion-card-header>
    <ion-card-content>
      <p>{{ 'EU.CARD_CEFALEIA.DESCRICAO' | translate | capitalize }}</p>
    </ion-card-content>
    <ion-item>
      <ion-icon name='pulse' color='verde-claro' item-left large></ion-icon>
      <h2>{{ 'EU.CARD_CEFALEIA.LABEL_FREQUENCIA' | translate | capitalize }}</h2>
      <div class="progress-circle down" item-right>
        <strong>-7%</strong>
      </div>
      <p>{{ 'EU.CARD_CEFALEIA.STATUS_DIMINUI' | translate | capitalize }}</p>
    </ion-item>
    <ion-item>
      <ion-icon name='flash' color='laranja' item-left large></ion-icon>
      <h2>{{ 'EU.CARD_CEFALEIA.LABEL_INTENSIDADE' | translate | capitalize }}</h2>
      <div class="progress-circle up" item-right>
        <strong>+2%</strong>
      </div>
      <p>{{ 'EU.CARD_CEFALEIA.STATUS_AUMENTO' | translate | capitalize }}</p>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ib-main-menu-footer [sessaoAtual]="'perfil'"></ib-main-menu-footer>
</ion-footer>