ib-page-eu {
  .content-md,
  .content-ios,
  .content-wp {
    background-color: $branco-gelo;
  }

  .goal-card {
    background: #3a7bd5;
    background: linear-gradient(to right, #3a6073, #3a7bd5);
  }

  .goal-card .item-md,
  .goal-card .item-ios {
    background-color: transparent;
  }

  .goal-card ion-card-title {
    // font-size: 1.8rem;
  }

  .goal-card ion-card-content p {
    // font-size: 1.2rem;
  }

  .bg-branco {
    background-color: $branco;
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo div {
    background-color: $cinza-c6;
    border-radius: 50%;
    min-height: 8rem;
    width: 8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 0.3rem solid $branco-gelo;
  }

  .photo ion-icon {
    font-size: 4rem;
  }

  ion-grid ion-icon {
    font-size: 4rem;
  }

  ion-grid .item-md p {
    color: $preto;
  }

  .progress-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: $branco;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .down {
    background-color: $verde-claro;
  }

  .up {
    background-color: $laranja;
  }
}
