<button *ngIf="configurado" ion-item no-lines no-padding detail-none text-wrap [class.sem-dados]="!item.isComplete()" (click)="onClickIrParaQuestao();">
    <ion-row no-padding item-center>
        <ion-col item-left text-center col-4 class="col-icone">
            <i [ngClass]="item.getIcone()"></i>
            <p>{{ item.getTitulo() | capitalize }}</p>
        </ion-col>
        <ion-col item-center text-left no-padding padding-left class="col-content">
            <p *ngIf="!item.isComplete()" ion-text color="laranja">Sem dados climáticos</p>
            <ion-row *ngIf="item.isComplete()" no-padding class="col-titulo">
                <ion-col col-6>
                    <ion-row>
                        <ion-col col-12 text-center>
                            <ion-icon name="cloudy" color="verde-claro"></ion-icon>
                        </ion-col>
                        <ion-col col-12>{{ item.getClima()?.descricao | capitalize }}</ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-6>
                    <ion-row>
                        <ion-col col-12>{{ item.getClima()?.temperatura | capitalize }} C</ion-col>
                        <ion-col col-12>{{ item.getClima()?.pressaoAtmosferica | capitalize }}</ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</button>