$font-path: '../assets/fonts';

@font-face {
  font-family: 'MyMigraineQuestionarioFont';
  src: url('#{$font-path}/questionario/MyMigraineQuestionarioFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='mm-']::before,
[class*=' mm-']::before,
[class^='mm-']::after,
[class*=' mm-']::after {
  display: inline-block;
  font-family: 'MyMigraineQuestionarioFont';
  font-style: normal;
  font-size: 2.6rem;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.mm-duracao-agora::before {
  content: '\0068';
}

.mm-duracao-input::before {
  content: '\0067';
}

.mm-duracao-15::before {
  content: '\0064';
}

.mm-duracao-30::before {
  content: '\0065';
}

.mm-duracao-60::before {
  content: '\0066';
}

.mm-intensidade-fraca::before {
  content: '\0032';
}

.mm-intensidade-fraca-media::before {
  content: '\0033';
}

.mm-intensidade-media::before {
  content: '\0034';
}

.mm-intensidade-media-forte::before {
  content: '\0035';
}

.mm-intensidade-forte::before {
  content: '\0036';
}

.mm-pilula::before {
  content: '\002D';
}

.mm-medicamento::before {
  content: '\0069';
}

.mm-qualidade-dor-peso::before {
  content: '\002B';
}

.mm-qualidade-dor-pontada::before {
  content: '\003D';
}

.mm-qualidade-dor-explosao::before {
  content: '\005F';
}

.mm-qualidade-dor-pressao::before {
  content: '\0060';
}

.mm-qualidade-dor-pulsatil::before {
  content: '\00B4';
}

.mm-sintomas-vomito::before {
  content: '\002C';
}

.mm-sintomas-tontura::before {
  content: '\003C';
}

.mm-sintomas-congestao-nasal::before {
  content: '\005B';
}

.mm-sintomas-intolerancia-luz::before {
  content: '\005D';
}

.mm-sintomas-intolerancia-barulho::before {
  content: '\007E';
}

.mm-sintomas-dor-pescoco::before {
  content: '\005E';
}

.mm-sintomas-alteracoes-visao::before {
  content: '\007B';
}

.mm-gatilho-menstruacao::before {
  content: '\0031';
}

.mm-gatilho-ansiedade::before {
  content: '\006F';
}

.mm-gatilho-estresse::before {
  content: '\0078';
}

.mm-gatilho-falta-sono::before {
  content: '\0079';
}

.mm-gatilho-jejum::before {
  content: '\007A';
}

.mm-gatilho-bebida::before {
  content: '\0073';
}

.mm-gatilho-comida::before {
  content: '\0075';
}

.mm-gatilho-esforco-fisico::before {
  content: '\0076';
}

.mm-gatilho-bebida-cafe::before {
  content: '\0070';
}

.mm-gatilho-bebida-cerveja::before {
  content: '\0071';
}

.mm-gatilho-bebida-destilado::before {
  content: '\0072';
}

.mm-gatilho-bebida-vinho::before {
  content: '\0074';
}

.mm-gatilho-esforco-fisico-academia::before {
  content: '\006A';
}

.mm-gatilho-esforco-fisico-corrida::before {
  content: '\006B';
}

.mm-gatilho-esforco-fisico-esportes::before {
  content: '\006C';
}

.mm-gatilho-esforco-fisico-tosse::before {
  content: '\006E';
}

.mm-gatilho-esforco-fisico-sexo::before {
  content: '\006D';
}

.mm-gatilho-comida-chocolate::before {
  content: '\003B';
}

.mm-gatilho-comida-chinesa::before {
  content: '\00A7';
}

.mm-gatilho-comida-frituras::before {
  content: '\00AA';
}

.mm-gatilho-comida-queijo::before {
  content: '\00BA';
}

.mm-gatilho-comida-salsicha-embutidos::before {
  content: '\00B0';
}

.mm-ciclo-menstrual-sim::before {
  content: '\002E';
}

.mm-ciclo-menstrual-antes::before {
  content: '\003E';
}

.mm-ciclo-menstrual-nao::before {
  content: '\0029';
}

.mm-metodo-alivio-banho::before {
  content: '\0021';
}

.mm-metodo-alivio-massagem::before {
  content: '\0023';
}

.mm-metodo-alivio-quarto-escuro::before {
  content: '\0024';
}

.mm-metodo-alivio-relaxamento::before {
  content: '\0025';
}

.mm-metodo-alivio-compressa::before {
  content: '\0040';
}

.mm-metodo-alivio-repouso::before {
  content: '\00A8';
}

.mm-consequencia-falta-escola::before {
  content: '\0061';
}

.mm-consequencia-falta-trabalho::before {
  content: '\0062';
}

.mm-consequencia-atividades-sociais::before {
  content: '\0063';
}

.mm-local-transito::before {
  content: '\0030';
}

.mm-local-casa::before {
  content: '\0037';
}

.mm-local-escola::before {
  content: '\0038';
}

.mm-local-trabalho::before {
  content: '\0039';
}

.mm-opcao-adicionar::before {
  content: '\0026';
}

.mm-opcao-excluir::before {
  content: '\0028';
}

.mm-opcao-nenhum::before {
  content: '\0029';
}

.mm-opcao-dinamica::before {
  content: '\002A';
}

.mm-slide-zoom::before {
  content: '\003A';
}
