<ion-row no-padding>
  <ion-col no-padding>
      <button ion-item no-lines detail-none text-center no-padding [ngClass]="{'selecionado': isSelecionada('diario'), 'nao-selecionado': !isSelecionada('diario')}"
          (tap)="onClickDiario()">
          <ion-icon name="paper"></ion-icon>
          <p>{{ 'MENU_MAIN_FOOTER.DIARIO_TITULO' | translate | capitalize }}</p>
      </button>
  </ion-col>
  <ion-col no-padding>
      <button ion-item no-lines detail-none text-center no-padding [ngClass]="{'selecionado': isSelecionada('perfil'), 'nao-selecionado': !isSelecionada('perfil')}"
          (tap)="onClickPerfil()">
          <ion-icon name="person"></ion-icon>
          <p>{{ 'MENU_MAIN_FOOTER.EU_TITULO' | translate | capitalize }}</p>
      </button>
  </ion-col>
  <ion-col no-padding>
      <button ion-item no-lines detail-none text-center no-padding [ngClass]="{'selecionado': isSelecionada('chat'), 'nao-selecionado': !isSelecionada('chat')}"
          (click)="onClickChat()">
          <i ion-text color="verde-escuro" class="rosie-sono-muito-boa"></i>
          <p ion-text color="verde-escuro">Rosie</p>
      </button>
  </ion-col>
  <ion-col no-padding>
      <button ion-item no-lines detail-none text-center no-padding [ngClass]="{'selecionado': isSelecionada('apoio'), 'nao-selecionado': !isSelecionada('apoio')}" (click)="onClickApoio()">
          <ion-icon name="medkit"></ion-icon>
          <p>Apoio</p>
      </button>
  </ion-col>
  <ion-col no-padding>
      <button ion-item no-lines detail-none text-center no-padding [ngClass]="{'selecionado': isSelecionada('mais'), 'nao-selecionado': !isSelecionada('mais')}" (click)="onClickMais()">
          <ion-icon name="more"></ion-icon>
          <p>{{ 'MENU_MAIN_FOOTER.MAIS_TITULO' | translate | capitalize }}</p>
      </button>
  </ion-col>
</ion-row>