ib-main-menu-footer {
  display: block;
  background-color: $branco;

  .selecionado,
  .selecionado p {
    color: $verde-claro;
  }

  .selecionado ion-icon {
    font-size: 2.5rem;
  }

  .nao-selecionado ion-icon,
  .nao-selecionado p {
    color: $preto;
  }

  ion-icon,
  i::before {
    font-size: 2.6rem;
  }
}
