$font-path: '../assets/fonts';

@font-face {
  font-family: 'EstadoVazioFont';
  src: url('#{$font-path}/estado-vazio/EstadoVazioFont.eot');
  src: url('#{$font-path}/estado-vazio/EstadoVazioFont.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/estado-vazio/EstadoVazioFont.woff') format('woff'),
       url('#{$font-path}/estado-vazio/EstadoVazioFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='rosie-estado-vazio-']::before,
[class*=' rosie-estado-vazio-']::before,
[class^='rosie-estado-vazio-']::after,
[class*=' rosie-estado-vazio-']::after {
  display: inline-block;
  font-family: 'EstadoVazioFont';
  font-style: normal;
  font-size: 2.6rem;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.rosie-estado-vazio-exercicio::before {
  content: '\0061';
}

.rosie-estado-vazio-fome::before {
  content: '\0062';
}

.rosie-estado-vazio-sono::before {
  content: '\0063';
}
