<ion-header>
  <ion-navbar>
    <ion-title>Adicionar local</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onClickCancelar()">
          <ion-icon large name="close" color="branco-gelo"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="adicionarLocalForm" novalidate>
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input [(ngModel)]="opcao.nome" formControlName="nome" name="nome" type="text" spellcheck="false" autocapitalize="off"></ion-input>
      <ion-icon item-right *ngIf="!adicionarLocalForm.get('nome').errors && adicionarLocalForm.get('nome').dirty" name="checkmark-circle"
        color="verde-claro"></ion-icon>
      <ion-icon item-right *ngIf="adicionarLocalForm.get('nome').errors && (adicionarLocalForm.get('nome').dirty)" name="alert"
        color="danger"></ion-icon>
    </ion-item>
    <p *ngIf="adicionarLocalForm.get('nome').getError('opcaoJaExiste')" color="danger" padding-left>Local já esta cadastrado</p>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col wcol-6>
      <button block ion-button color="laranja" outline (click)="onClickCancelar()">Cancelar</button>
    </ion-col>
    <ion-col col-6>
      <button block ion-button color="verde-claro" (click)="onClickRegistrar()">Adicionar</button>
    </ion-col>
  </ion-row>
</ion-footer>