<ion-row *ngIf="configuracaoFooterBar">
  <ion-col *ngIf="!configuracaoFooterBar.isModoAtualizar()">
      <button ion-button (click)="onClickDissmissQuestions()" color="laranja" block>Mais tarde</button>
  </ion-col>
  <ion-col *ngIf="!configuracaoFooterBar.isModoAtualizar()">
      <button *ngIf="!configuracaoFooterBar.isSaving()" ion-button (click)="onClickNext()" color="verde-claro" block>Próximo</button>
      <button *ngIf="configuracaoFooterBar.isSaving()" ion-button (click)="onClickNext()" color="verde-claro" block>
              <ion-spinner name="dots" color="branco-gelo"></ion-spinner>&nbsp;&nbsp;&nbsp;Salvando
          </button>
  </ion-col>
  <ion-col *ngIf="configuracaoFooterBar.isModoAtualizar()">
      <button block *ngIf="!configuracaoFooterBar.isSaving()" ion-button (click)="onClickConfirm()" color="verde-claro">Confirmar</button>
      <button block *ngIf="configuracaoFooterBar.isSaving()" ion-button color="verde-claro">
          <ion-spinner name="dots" color="branco-gelo"></ion-spinner>&nbsp;&nbsp;&nbsp;Salvando
      </button>
  </ion-col>
</ion-row>