<nav class="menu">
  <div class="menu-toggler" id="menu-toggler"></div>
  <ul>
    <li class="menu-item" (click)="addEficienciaNadaUtil()">
      <a>
                <span class="mm-intensidade-forte"></span>
                <span>Nada util</span>
            </a>
    </li>
    <li class="menu-item" (click)="addEficienciaPoucoUtil()">
      <a>
                <span class="mm-intensidade-media"></span>
                <span> Pouco Util </span>
            </a>
    </li>
    <li class="menu-item" (click)="addEficienciaUtil()">
      <a>
                <span class="mm-intensidade-fraca"></span>
                <span> Util </span>
            </a>
    </li>
  </ul>
</nav>

<div class="pirula" (click)="onClickCancelar()">
  <a [ngClass]="modeloOpcao.getIcone()" class="posicionamento-icone">
    <div *ngIf="modeloOpcao.getQuantidade()" text-center class="item-quantidade-wrapper">
      <span class="tamanho-font-padrao">{{ modeloOpcao.getQuantidade() }}</span>
    </div>
  </a>
</div>

<div class="nome-medicamento">
  <span class="branco-gelo">{{ modeloOpcao.getNome() | capitalize }}</span>
</div>