ib-page-adicionar-eficiencia {
  $toggler-size: 40px;
  $toggler-color: $branco-gelo;
  $toggler-transition: transform 0.5s, top 0.5s;

  $item-count: 4;
  $item-size: $toggler-size * 2;
  $item-color: $branco-gelo;
  $item-transition: 0.5s;

  @mixin size ($width, $height: $width) {
    width: $width;
    height: $height;
  }

  @mixin absolute-center {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  @mixin line {
    @include size($toggler-size, $toggler-size / 8);
    display: block;
  }

  .mm-opcao-adicionar::before {
    font-size: 83px;
  }

  .verde-escuro {
    color: $verde-escuro;
  }

  .verde-claro {
    color: $verde-claro;
  }

  .align-right {
    text-align: -webkit-right;
  }

  .branco-gelo {
    color: $branco-gelo;
  }

  .botao-confirmar {
    color: $branco-gelo;
    border-color: #279379;
    width: 100%;
  }

  .posicionamento-icone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .laranja-color {
    color: $laranja;
  }

  .laranja-background {
    background-color: $laranja;
  }

  .verde-claro-background {
    background-color: $verde-claro;
  }

  .md .modal-wrapper {
    box-shadow: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }

  .ios .modal-wrapper {
    box-shadow: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }

  ion-modal ion-backdrop {
    visibility: visible;
    z-index: 0;
    opacity: 0.7 !important;
  }

  .pirula a::before {
    font-size: 83px;
  }

  .mm-intensidade-forte::before {
    font-size: 7rem;
    color: $laranja;
  }

  .mm-intensidade-fraca::before {
    font-size: 7rem;
    color: $verde-claro;
  }

  .mm-intensidade-media::before {
    font-size: 7rem;
    color: $crise-fraca;
  }

  .tamanho-font-padrao {
    font-size: 2.1rem;
  }

  .menu-toggler {
    @include absolute-center;
    @include size($toggler-size);
    opacity: 0;
    cursor: pointer;
  }

  .menu-toggler ~ ul {
    .menu-item {
      opacity: 1;
    }

    @for $i from 0 through $item-count - 1 {
      .menu-item:nth-child(#{$i + 1}) {
        transform: rotate(360deg / $item-count * $i) translateX(-$item-size - 45px);
      }
    }

  }


  .pirula {
    @include line;
    @include absolute-center;
    width: 115px;
    height: 115px;
    border: 2px solid $branco-gelo;
    border-radius: 60px;
    background: $branco-gelo;
    display: flex;
  }

  .item-quantidade-wrapper {
    position: absolute;
    display: -ms-flexbox;
    -ms-flex-align: center;
    margin-top: 10px;
  }

  .nome-medicamento {
    @include line;
    @include absolute-center;
    top: 130px;
    text-align: -webkit-center;
    font-size: 18px;
    width: 120px;
  }



  .menu-toggler + label {
    @include line;
    @include absolute-center;

    &::before {
      position: absolute;
    }

  }

  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) a {
      transform: rotate(-360deg / $item-count * $i);
    }
  }

  .menu-item {
    @include absolute-center;
    @include size($item-size);
    display: block;
    opacity: 0;
    transition: $item-transition;
    width: 90px;
    height: 90px;
  }

  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 30px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    pointer-events: none;
    transition: 0.2s;
    color: $branco-gelo;
    text-align: center;
  }
}
