<ion-header>
	<ib-questionario-nav-bar [configuracaoNavBar]="configuracaoNavBar"></ib-questionario-nav-bar>
</ion-header>

<ion-content padding>
	<ion-row text-center>
		<ion-col>
			<ib-localizacao-dor-touch *ngIf="componenteConfigurado" [configuracoes]="configuracaoLocalizacaoDorTouch"></ib-localizacao-dor-touch>
		</ion-col>
	</ion-row>
	<ion-row padding-horizontal text-right>
		<ion-col>
			<i ion-text class="mm-slide-zoom" color="verde-escuro"></i>
			<p no-margin>Zoom</p>
		</ion-col>
	</ion-row>
</ion-content>

<ion-footer no-shadow>
	<ib-questionario-footer-bar [configuracaoFooterBar]="configuracaoFooterBar"></ib-questionario-footer-bar>
</ion-footer>